---
---
$small: 930px;
$mobile: 600px;
$orange: rgb(251, 171, 68);
$darkorange: darken($orange, 15%);
$blue: rgb(8, 159, 218);
$darkblue: darken($blue, 15%);
$shadowonblue: rgb(11, 93, 125);
$green: #45BF55;
$dark: rgb(50, 50, 60);
$font-color: #212529;

$native-font:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;


body {
    margin: 0;
    font-family: $native-font;
    font-weight: 400;
    color: $font-color;
    line-height: 1.5;
    background: rgb(245, 245, 245);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
  flex: 1 0 auto;
}

a {
    color: $blue;
    transition: color 0.2s;
}
a:hover {
    color: $darkblue;
}
.container {
  max-width: 1100px;
  width: 93%;
  margin: 0 auto;
}

.align-center {
  text-align: center;
}

.content {
    text-align: left;
    width: 900px;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 40px;
}

.cover {
  width: 100%;
  height: 380px;
  position: absolute;
  left: 0;
  top: 65px;
  overflow: hidden;
}

.cover .cover-img {
  width: 105%;
  height: 390px;
  background-image: url("../img/covers/cover.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(2px);
        -webkit-filter: blur(2px);
        -moz-filter: blur(2px);
        -o-filter: blur(2px);
        -ms-filter: blur(2px);
  margin-left: -10px;
  margin-top: -8px;
}

.main-maerke-content {
  margin-top: 70px;
  position: relative;
}

.maerke-box {
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 0 4px rgba(0,0,0,0.2), 0 0 10px rgba(255, 255, 255, 1) inset;
  background-color: white;
  color: inherit;
  text-decoration: inherit;
  overflow: hidden;
  transition: transform 0.2s;
  position: relative;
  display: block;
  padding-top: 10px;
}

.maerke-box.highlight-popular {
    box-shadow: 1px 0 0px $orange, -1px 0 0 $orange, -1px -1px 0 $orange, 1px -1px 0 $orange, 0 0 13px $orange;
    overflow: hidden;
}

.maerke-box.highlight-new {
    box-shadow: 1px 0 0px $green, -1px 0 0 $green, -1px -1px 0 $green, 1px -1px 0 $green, 0 0 13px $green;
    overflow: hidden;
}

.maerke-box .maerke-link {
  color: inherit;
  text-decoration: inherit;
}

.maerke-box .maerke-info {
  position: absolute;
  right: 0;
  z-index: 2;
  color: #fafafa;
  margin-right: 10px;
}

.maerke-box .maerke-info div {
  padding: 5px;
  font-size: 0.8em;
  padding: 5px 8px;
  font-weight: bold;
  transition: background 0.2s;
  border-radius: 3px;
  margin-bottom: 5px;
  text-align: center;
  box-sizing: border-box;
  border: 1px;
  border-style: solid;
  background-color: #fff;
  background-color: rgba(255,255,255,0.95);
  position: relative;
  z-index: 3;
}

.maerke-box .maerke-corps {
  text-transform: capitalize;
  color: gray;
  border-color: gray;
}

.maerke-box .maerke-corps.DDS {
  border-color: #003466;
  color: #003466;
}

.maerke-box .maerke-corps.DGP {
  border-color: #005723;
  color: #005723;
}

.maerke-box .maerke-corps.KFUM {
  border-color: #006649;
  color: #006649;
}

.maerke-box .maerke-corps img {
  height: 100%;
}

.maerke-box .maerke-age {
  color: $blue;
  border-color: $blue;
}

.maerke-col {
  box-sizing: border-box;
  display: inline-block;
  width: 33.33333%;
  padding: 0 5px;
  float: left;
  margin-bottom: 10px;
}

.maerke-box img {
  height: 200px;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  transition: all 0.2s ease;
}

.maerke-box img:hover {
  transform:scale(1.1);
}

.maerke-box .card-content {
  position: relative;
  height: 50px;
  text-align: center;
}

.maerke-box .card-content h3 {
  font-size: 1.2em;
  font-weight: 600;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 10px;
}

.maerke-box a {
  text-decoration: none;
}

.maerke-box .card-link {
  border-top: 1px solid rgba(160,160,160,0.2);
  padding: 10px;
  text-align: center;
}

.maerke-box.highlight-popular .card-link {
    background: $orange;
    color: white;
}

.maerke-box.highlight-new .card-link {
    background: $green;
    color: white;
}

.maerke-box.purchasable .card-link {
    background: $blue;
    color: white;
}

.maerke-box .card-link a {
  text-transform: uppercase;
  font-size: 15px;
  text-decoration: none;
}

.col {
  box-sizing: border-box;
  padding: 0 10px;
}

.page-image {
  float: left;
  width: 40%;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  box-sizing: border-box;
}

.page-image img {
  max-width: 100%;
  height: 300px;
  border: 7px solid rgb(245, 245, 245);
  box-sizing: border-box;
}
@media screen and (max-width: $small){
  .page-image img {
    height: auto;
  }
}

.page-description {
  width: 60%;
  display: inline-block;
  margin-top: 50px;
}

.page-description-color {
  background-color: rgb(245, 245, 245);
  padding: 20px;
}
@media screen and (max-width: $mobile){
  .page-description-color {
    padding: 0px;
  }
}

.page-description h1 {
    font-weight: 400;
    background-color: whitesmoke;
    padding: 8px 20px;
    display: inline-block;
}
@media screen and (max-width: $mobile){
  .page-description h1 {
    padding: 8px 0px;
  }
}

.page-description .age {
  margin-top: 5px;
  font-weight: bold;
}

.page-description ul em {
  font-weight: 100;
}

.btn, a.btn, button, input[type=submit] {
  text-align: center;
  padding: 20px;
  cursor: pointer;
  background: $blue;
  color: white;
  font-weight: bold;
  border: none;
  transition: background 0.2s;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 1em;
  &:hover {
    background: $darkblue;
    color: white;
  }
}

.page-description .btn {
  width: 100%;
}

.page-description .infolink {
  background: $orange;
}

.page-description .infolink:hover {
  background: $darkorange;
}

.btn-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-around;
}

.btn+.btn {
  margin-left: 10px;
}

.first-visit-welcome {
    width: 900px;
    background: $orange;
    position: relative;
    height: 300px;
    transition: all 0.75s;
    overflow: hidden;
    z-index: 1;
    text-align: center;
}
.first-visit-welcome.hidden {
    margin-top: -340px;
}
.first-visit-welcome-remover {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 0;
    text-transform: uppercase;
    z-index: 3;
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
}
.first-visit-welcome:hover .first-visit-welcome-remover {
    opacity: 1;
}
.first-visit-welcome-image {
    background-image: url('../img/welcome-message-01.png');
    height: 300px;
    display: inline-block;
    width: 400px;
    background-size: cover;
    vertical-align: middle;
    background-position: center;
    filter: saturate(130%) contrast(120%);
}
.first-visit-welcome-text {
    display: inline-block;
    width: 500px;
    vertical-align: middle;
}
.first-visit-welcome-text a {
    color: black;
}

.see-more-button {
    display: block;
    text-align: center;
    background: $blue;
    color: white;
    text-decoration: none;
    margin-top: 30px;
    padding: 20px 0;
    transition: background 0.2s;
    float: left;
    width: 100%;
}
.see-more-button:hover {
    color: white;
    background: $darkblue;
}

.intro-message {
  background: #fbab44;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  // margin-bottom: 30px;
}

.blog-post-date {
    font-size: 0.8em;
    color: rgba(0,0,0,0.75);
    margin-bottom: 2em;
}

@media screen and (min-width: 931px) {
  .clear {
    display: none;
  }
}

@media screen and (max-width: $small) {
  .col {
    width: 100% !important;
    padding: 0 10px 10px;
  }
  .content {
    max-width: 100% !important;
  }
  .cover {
    top: 63px;
    height: 300px
  }
  .maerke-col {
    width: 50%;
  }
  .maerke-box img {
    height: 40vw;
  }
  .maerke-box .card-content h3 {
    font-size: 0.9rem;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
    margin-bottom: 10px;
  }
  .first-visit-welcome-image {
      display: none;
  }
  .first-visit-welcome {
      height: auto;
      max-height: 600px;
      // margin-top: 30px;
      margin-bottom: 0;
  }
  .first-visit-welcome.hidden {
      margin-top: -10px;
      max-height: 0px;
      padding-bottom: 0;
  }
  .first-visit-welcome-remover {
      position: static;
  }
  .first-visit-welcome-text {
      max-width: 500px;
      width: 100%;
      padding: 0 10px;
      box-sizing: border-box;
  }
  .maerke-box .maerke-info {
    position: static;
    margin-right: 1vw;
    margin-left: 1vw;
  }
  .maerke-box .maerke-info div {
    margin: 0 1vw;
    width: 45%;
    display: inline-block;
    float: left;
    font-size: 2.8vw;
    padding: 0.67vw 1.07vw;
  }
  .main-maerke-content {
    margin-top: 0px;
  }
  .page-description {
    margin-top: 0px;
  }
  .page-description h1 {
    margin: 0;
    display: block;
    text-align: center;
  }
  .btn-container {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;;
  }
  .btn+.btn {
    margin-left: 0;
    margin-top: 10px;
  }
}

@import "header.scss";
@import "tag";
@import "advanced-search.scss";
@import "cookie-notice";
@import "content-page";
@import "faq";
@import "footer";
@import "sponsor-message";
@import "purchase-form";
@import "maerke-card-in-content";
@import "price-calculator";
