---
---
$orange: rgb(251, 171, 68);
$blue: rgb(8, 159, 218);
$darkblue: rgb(11, 93, 125);
$dark: rgb(50, 50, 60);

@font-face {
    font-family: "Open Sans";
    src: url('/font/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "Open Sans Light";
    src: url('/font/OpenSans-Light.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background: rgb(245, 245, 245);
    margin-bottom: 150px;
}
a {
    color: $blue;
    transition: color 0.2s;
}
a:hover {
    color: $darkblue;
}
header {
    width: 100%;
    background: $dark;
    text-align: center;
    margin-bottom: 40px;
}
header nav {
    display: inline-block;
    text-align: right;
    width: 900px;
    padding: 15px 0;
    box-sizing: border-box;
}
header nav img {
    float: left;
}
.searchbar {
    margin: 7px 0 5px;
    display: inline-block;
    width: 425px;
}
.searchbar input {
    color: rgba(250, 250, 250, 1);
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(250, 250, 250, 0.3);
    font-size: 1.8em;
    padding: 5px 0;
    width: 0;
    opacity: 0;
    transition: width 0.2s, opacity 0.2s;
}
.searchbar:hover input, .searchbar input:active, .searchbar input:focus {
    width: 350px;
    opacity: 1;
}
.searchbar button {
    color: $orange;
    background: transparent;
    border: none;
    font-weight: bold;
    font-size: 1.8em;
}
.container {
    text-align: center;
    padding-bottom: 50px;
    background: rgb(245, 245, 245);
}
.content {
    text-align: left;
    width: 900px;
    display: inline-block;
    box-sizing: border-box;
}
.maerke-box {
    box-sizing: border-box;
    display: inline-block;
    width: 33%;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0,0,0,0.2), 0 0 10px rgba(255, 255, 255, 1) inset;
    background-color: white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: inherit;
    text-decoration: inherit;
    overflow: hidden;
    transition: transform 0.2s;
    position: relative;
}

.maerke-box h1 {
    background: rgba(255, 255, 255, 0.8);
    margin: 0;
    padding: 10px 10px;
    font-size: 1.3em;
    transition: padding 0.2s;
    font-family: "Open Sans Light", "Open Sans", sans-serif;
}
.maerke-box img {
    width: 100%;
}

.col {
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}

.page-image {
  float: left;
  width: 40%;
  display: inline-block;
  padding-right: 20px;
  box-sizing: border-box;
  text-align: center;
}

.page-image img {
  max-width: 100%;
  max-height: 300px;
}

.page-description {
  width: 60%;
  display: inline-block;
}

.page-description h1 {
    font-family: "Open Sans Light", "Open Sans", sans-serif;
}

.page-description ul em {
    font-family: "Open Sans Light", "Open Sans", sans-serif;
}

.page-description button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  background: $blue;
  color: white;
  font-weight: bold;
  border: none;
  transition: background 0.2s;
}

.page-description button:hover {
  background: $darkblue;
}

footer {
    background: $dark;
    font-size: 0.8em;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 35px 0 50px;
    color: white;
    text-align: center;
    z-index: -2;
}
.footer-col {
    display: inline-block;
    width: 100%;
    max-width: 220px;
    vertical-align: top;
    text-align: left;
}
.footer-col.small {
    font-size: 0.8em;
}
footer a {
    color: rgb(200, 200, 200);
}
footer a:hover {
    color: rgb(250, 250, 250);
}

.first-visit-welcome {
    margin-bottom: 25px;
    background: $orange;
    position: relative;
    height: 300px;
    transition: height 0.5s, margin 0.5s, padding 0.5s;
    overflow: hidden;
}
.first-visit-welcome.hidden {
    height: 0px;
    margin-bottom: 0;
}
.first-visit-welcome-remover {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    color: white;
    text-transform: uppercase;
    z-index: 3;
    font-size: 0.8em;
    padding: 15px 0;
    background: $dark;
    opacity: 0;
    transition: opacity 0.2s, padding 0.2s;
    cursor: pointer;
}
.first-visit-welcome:hover .first-visit-welcome-remover {
    opacity: 1;
    padding-top: 25px;
}
.first-visit-welcome-image {
    background-image: url('../img/welcome-message-01.png');
    height: 300px;
    display: inline-block;
    width: 400px;
    background-size: cover;
    vertical-align: middle;
    background-position: center;
    filter: saturate(130%) contrast(120%);
}
.first-visit-welcome-text {
    display: inline-block;
    width: 500px;
    vertical-align: middle;
}

@media screen and (min-width: 931px) {
  .maerke-box:hover {
      transform: scale(1.08);
      z-index: 100;
  }
}

@media screen and (max-width: 930px) {
  .col {
    width: 100% !important;
  }
  .content {
    max-width: 100% !important;
    padding: 10px;
  }
  header nav {
    width:100% !important;
    padding: 15px 10px;
  }
  .searchbar {
      width: auto !important;
  }
  .searchbar input {
      font-size: 1.4em;
  }
  .searchbar:hover input, .searchbar input:active, .searchbar input:focus {
    width: 150px !important;
  }
  .maerke-box {
    width: 46%;
    margin-bottom: 10px;
    margin-left: 10px;
    float: left;
  }
  .first-visit-welcome-image {
      display: none;
  }
  .first-visit-welcome {
      height: auto;
      padding-top: 60px;
  }
  .first-visit-welcome.hidden {
      padding-top: 0;
  }
  .first-visit-welcome-remover {
      opacity: 1;
  }
  .first-visit-welcome-text {
      max-width: 500px;
      width: 100%;
      padding: 0 10px;
      box-sizing: border-box;
  }
}

@import "tag";
@import "cookie-notice";
