---
---
$orange: rgb(251, 171, 68);
$blue: rgb(8, 159, 218);
$darkblue: rgb(11, 93, 125);
$dark: rgb(50, 50, 60);

@font-face {
    font-family: "Open Sans";
    src: url('/font/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "Open Sans Light";
    src: url('/font/OpenSans-Light.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background: rgb(245, 245, 245);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
  flex: 1 0 auto;
}
a {
    color: $blue;
    transition: color 0.2s;
}
a:hover {
    color: $darkblue;
}
header {
    width: 100%;
    background: $dark;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
    z-index: 10;
    box-shadow: 0 0 6px rgba(0,0,0,0.3), 0 0 3px rgba(0,0,0,0.3);
}
header nav {
    display: inline-block;
    text-align: right;
    width: 900px;
    padding: 15px 0;
    box-sizing: border-box;
}
header nav a.logo {
    float: left;
}
header nav img {
    width: 64px;
    height: 64px;
}
.searchbar {
    display: inline-block;
    width: 425px;
    float: right;
    position: relative;
}
.searchbar input {
    color: rgba(250, 250, 250, 1);
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(250, 250, 250, 0.3);
    font-size: 1.8em;
    padding: 5px 0;
    width: 0;
    opacity: 0;
    transition: width 0.2s, opacity 0.2s;
    vertical-align: middle;
}
.searchbar .clear {
  opacity: 0;
  font-size: 1.5em;
  transition: opacity 0.2s;
}
.searchbar:hover input, .searchbar input:active, .searchbar input:focus {
    width: 350px;
    opacity: 1;
}
.searchbar:hover .clear {
    opacity: 1;
}
.searchbar input:focus + .clear, .searchbar input:active + .clear {
    opacity: 1;
}
.searchbar .search-button, .searchbar .clear-button {
    background: transparent;
    border: none;
    vertical-align: middle;
    padding: 0;
    color: white;
    display: inline-block;
}
.searchbar .search-button img {
    width: 40px;
    margin-bottom: -6px;
}
.searchbar .clear-button img {
    width: 27px;
    margin-bottom: -4px;
    margin-left: -4px;
    margin-right: -4px;
}
.container {
    text-align: center;
    padding-bottom: 50px;
    background: rgb(245, 245, 245);
}
.content {
    text-align: left;
    width: 900px;
    display: inline-block;
    box-sizing: border-box;
}

.maerke-box {
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 0 4px rgba(0,0,0,0.2), 0 0 10px rgba(255, 255, 255, 1) inset;
  background-color: white;
  color: inherit;
  text-decoration: inherit;
  overflow: hidden;
  transition: transform 0.2s;
  position: relative;
  display: block;
  padding-top: 10px;
}

.maerke-box .maerke-link {
  color: inherit;
  text-decoration: inherit;
}

.maerke-box .maerke-info {
  position: absolute;
  right: 0;
  z-index: 2;
  color: #fafafa;
  margin-right: 10px;
}

.maerke-box .maerke-info div {
  padding: 5px;
  font-size: 0.8em;
  padding: 5px 8px;
  font-weight: bold;
  transition: background 0.2s;
  border-radius: 3px;
  margin-bottom: 5px;
  text-align: center;
  box-sizing: border-box;
  border: 1px;
  border-style: solid;
  background-color: #fff;
  background-color: rgba(255,255,255,0.95);
}

.maerke-box .maerke-corps {
  text-transform: capitalize;
  color: gray;
  border-color: gray;
}

.maerke-box .maerke-corps.DDS {
  border-color: #003466;
  color: #003466;
}

.maerke-box .maerke-corps.DGP {
  border-color: #005723;
  color: #005723;
}

.maerke-box .maerke-corps.KFUM {
  border-color: #006649;
  color: #006649;
}

.maerke-box .maerke-corps img {
  height: 100%;
}

.maerke-box .maerke-age {
  color: $blue;
  border-color: $blue;
}

.maerke-col {
  box-sizing: border-box;
  display: inline-block;
  width: 33.33333%;
  padding: 0 5px;
  float: left;
  margin-bottom: 10px;
}

.maerke-box img {
  height: 200px;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  transition: all 0.2s ease;
}

.maerke-box img:hover {
  transform:scale(1.1);
}

.maerke-box .card-content {
  position: relative;
  height: 50px;
  text-align: center;
}

.maerke-box .card-content h3 {
  font-size: 1.2em;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 10px;
}

.maerke-box a {
  text-decoration: none;
}

.maerke-box .card-link {
  border-top: 1px solid rgba(160,160,160,0.2);
  padding: 10px;
  text-align: center;
}

.maerke-box .card-link a {
  text-transform: uppercase;
  font-size: 15px;
  text-decoration: none;
}

.col {
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}

.page-image {
  float: left;
  width: 40%;
  display: inline-block;
  padding-right: 20px;
  box-sizing: border-box;
  text-align: center;
}

.page-image img {
  max-width: 100%;
  max-height: 300px;
}

.page-description {
  width: 60%;
  display: inline-block;
}

.page-description h1 {
    font-family: "Open Sans Light", "Open Sans", sans-serif;
    margin-bottom: 5px;
}

.page-description .age {
    margin-top: 5px;
    font-weight: bold;
}

.page-description ul em {
    font-family: "Open Sans Light", "Open Sans", sans-serif;
}

.page-description button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  background: $blue;
  color: white;
  font-weight: bold;
  border: none;
  transition: background 0.2s;
}

.page-description button:hover {
  background: $darkblue;
}

.first-visit-welcome {
    margin-bottom: 40px;
    background: $orange;
    position: relative;
    height: 300px;
    transition: height 0.5s, margin 0.5s, padding 0.5s;
    overflow: hidden;
    z-index: 1;
    margin-top: -40px;
}
.first-visit-welcome.hidden {
    margin-top: -340px;
}
.first-visit-welcome-remover {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    color: white;
    text-transform: uppercase;
    z-index: 3;
    font-size: 0.8em;
    padding: 15px 0;
    background: $dark;
    opacity: 0;
    transition: opacity 0.2s, padding 0.2s;
    cursor: pointer;
}
.first-visit-welcome:hover .first-visit-welcome-remover {
    opacity: 1;
}
.first-visit-welcome-image {
    background-image: url('../img/welcome-message-01.png');
    height: 300px;
    display: inline-block;
    width: 400px;
    background-size: cover;
    vertical-align: middle;
    background-position: center;
    filter: saturate(130%) contrast(120%);
}
.first-visit-welcome-text {
    display: inline-block;
    width: 500px;
    vertical-align: middle;
}
.first-visit-welcome-text a {
    color: black;
}

.see-more-button {
    display: block;
    text-align: center;
    background: $blue;
    color: white;
    text-decoration: none;
    margin-top: 30px;
    padding: 20px 0;
    transition: background 0.2s;
    float: left;
    width: 100%;
}
.see-more-button:hover {
    color: white;
    background: $darkblue;
}

@media screen and (min-width: 931px) {
  .clear {
    display: none;
  }
}

@media screen and (max-width: 930px) {
  .col {
    width: 100% !important;
  }
  .content {
    max-width: 100% !important;
    padding: 10px;
  }
  header {
    height: 68px;
  }
  header nav {
    width:100% !important;
    padding: 10px 10px;
  }
  .searchbar {
      width: auto !important;
  }
  .searchbar input {
      font-size: 1.4em;
  }
  .searchbar .search-button, .searchbar .clear-button {
    padding: 0 5px;
  }
  .searchbar .search-button img {
    margin-top: 0;
  }
  .searchbar:hover input, .searchbar input:active, .searchbar input:focus {
    width: 150px !important;
  }
  header nav img {
    width: 45px;
    height: 45px;
  }
  .searchbar button img {
    height: 50px;
  }
  .maerke-col {
    width: 50%;
  }
  .maerke-box img {
    height: 40vw;
  }
  .maerke-box .card-content h3 {
    font-size: 0.9rem;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
    margin-bottom: 10px;
  }
  .first-visit-welcome-image {
      display: none;
  }
  .first-visit-welcome {
      height: auto;
      padding-top: 60px;
  }
  .first-visit-welcome.hidden {
      padding-top: 0;
  }
  .first-visit-welcome-remover {
      opacity: 1;
  }
  .first-visit-welcome-text {
      max-width: 500px;
      width: 100%;
      padding: 0 10px;
      box-sizing: border-box;
  }
  .maerke-box .maerke-info {
    position: static;
    margin-right: 1vw;
    margin-left: 1vw;
  }
  .maerke-box .maerke-info div {
    margin: 0 1vw;
    width: 45%;
    display: inline-block;
    float: left;
    font-size: 2.8vw;
    padding: 0.67vw 1.07vw;
  }
}

@import "tag";
@import "cookie-notice";
@import "content-page";
@import "faq";
@import "footer";
