---
---
@import "variables.scss";

html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: $native-font;
    font-weight: 400;
    color: $font-color;
    line-height: 1.5;
    background: rgb(245, 245, 245);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
  flex: 1 0 auto;
}

input {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: $font-weight--bold;
}

a {
    color: $blue;
    transition: color 0.2s;

    &:hover {
      color: $darkblue;
  }
}

.container {
  max-width: 1100px;
  width: 98%;
  margin: 0 auto;
}

.align-center {
  text-align: center;
}

.content {
    text-align: left;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: $small) {
      max-width: 100% !important;
    }
}

.see-more-button {
    margin: 10px 5px 30px;
    padding: 20px 0;
    width: 100%;
}

.intro-message {
  background: #fbab44;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.blog-post-date {
    font-size: 0.8em;
    color: rgba(0,0,0,0.75);
    margin-bottom: 2em;
}

@media screen and (min-width: 931px) {
  .clear {
    display: none;
  }
}

.jumbotron {
  width: 100%;

  p:last-of-type {
    margin-bottom: 30px;
  }
}

@import "header.scss";
@import "first-visit-banner.scss";
@import "badge-card.scss";
@import "badge-page.scss";
@import "button.scss";
@import "card.scss";
@import "tag";
@import "advanced-search.scss";
@import "cookie-notice";
@import "content-page";
@import "faq";
@import "footer";
@import "sponsor-message";
@import "purchase-form";
@import "maerke-card-in-content";
@import "price-calculator";
@import "blog";
@import "glorified";
@import "slipout";
@import "frontpage-cta";
@import "blockquotes";
@import "404";
