---
layout: default
title: "Makkermarch &mdash; vinderen af konkurrencen om bedste mærkeide"
type: blogpost
image: makkermarch-endeligt-design.png
---
<article class="col content-col">
    <h1>Makkermarch &mdash; vinderen af konkurrencen om bedste mærkeide</h1>
    <div class="blog-post-date">12. september 2017</div>
    <div style="padding: 15px; background: rgb(220,220,220); margin: 30px 0;">
        Historien udviklede sig løbende.
        Den 12. oktober 2017 opdaterede vi den med et <a href="#maerkets-design">afsnit om mærkedesign</a>.
        Den 10. november 2017 opdaterede vi den med et <a href="#fremstilling-og-salg">afsnit om fremstilling og salg af mærket</a>.
    </div>

    <p>
        For et par måneder siden sluttede vores konkurrence om at finde på den bedste mærkeide, og nu er vi klar til at afsløre vinderen!
    </p>
    <p>
        Vi fik rigtig mange gode ideer, og vi håber at mange vil gå videre med deres ideer og få lavet mærker på baggrund af dem.
    </p>
    <p>
        Vi kunne kun vælge én vinder, og præmien er at vi hjælper med design og produktion af mærket.
        I denne blog post vil du kunne følge med i hvordan det foregår.
        Vi kommer til at opdatere den løbende.
    </p>
    <p>
        Vi håber det vil hjælpe dig, som aspirerende mærkedesigner, med at finde ud af hvordan man laver et mærke, så du også kan få lavet dit eget!
    </p>

    <h2>Makkermarch er et hejkmærke for to</h2>
    <p>
        Traditionelle hejkmærker stiller krav om hvor langt man kan gå, og på hvor lang tid.
        De findes indenfor alle korpsene.
    </p>
    <p>
        Derudover er der kommet mærker til, hvor man har et sjovt twist på hejken.
        F.eks. er der baglæns-mærker, som man får for at gå sin hejk baglæns.
    </p>
    {% include maerkeIncludeBody.html maerke="baglaens" %}
    <p>
        Konkurrencevindermærket, Makkermarch, har det twist at man skal gå to-og-to, og at man skal være bundet sammen!
    </p>
    <p>
        Så bliver man udfordret en lille smule mere, og det kræver at man kan arbejde sammen, lytte til hinanden, og tage hensyn til hinandens behov, to og to.
    </p>
    <p>
        Ideen fik spejderne Frederikke og Victor fra <a href="http://solskinstroppen.dk/" target="noopener">Solskinstroppen, DDS</a> da de var ude på en 5 km gåtur under deres <a href="https://dds.dk/arrangement/sov-ude-2017" target="noopener">Sov Ude</a>-arrangement.
        De to spejdere gik hele turen hånd i hånd, og det blev inspirationen til mærket.
    </p>
    <p>
        Efter at have snakket med lederne fra gruppen, blev de enige om at man kunne gøre det til et krav at være bundet sammen (i arme eller ben), så det er lidt sværere end bare at holde i hånd.
    </p>
    <p>
        Maria, som er leder for de to spejdere, der fandt på mærkeideen, og vandt konkurrencen, uddyber:
        "Hele turen skal spejderne være bundet sammen. Det kræver samarbejde og viljestyrke."
    </p>

    <h2 id="maerkets-design">Mærkets design</h2>
    <p>
        Fordi mærket skriver sig ind i en tradition for hejkmærker, havde Maria, Frederikke og Victor allerede tidligt en rimlig god ide om, hvordan mærket skulle se ud.
        Mærket skulle have form som Baglæns-mærket, og de gamle DDS hejkmærker, men med nye farver, og et motiv af to fødder bundet sammen.
    </p>
    <figure>
        <img src="makkermarch-skitse.jpg" alt="en blyantsskitse af Maria, Frederikke og Victors mærkeidé">
        <figcaption>Sådan her så Maria, Frederikke og Victors skitse, af deres ide til mærket, ud.</figcaption>
    </figure>
    <p>
        Som en del af præmien for at vinde konkurrencen, fik de hjælp af os, Anders og Niels fra Mærkelex, med at designe mærket.
        Det indebar at arbejde med konceptet, og at få lavet nogle digitale skitser.
    </p>
    <figure>
        <img src="makkermarch-koncept-tegninger.png" alt="fire forskellige mærkedesigns med fødder bundet sammen">
        <figcaption>
            Det her var de ideer vi, Anders og Niels fra Mærkelex, først kom frem til, da vi arbejdede med deres koncept.
            Alle skitserne er lavet relativt hurtigt, og med fokus på at arbejde med former og farver.
        </figcaption>
    </figure>
    <p>
        Maria, Frederikke og Victor snakkede sammen om de foreslag, de fik fra Mærkelex, og blev hurtigt enige om et bestemt design, som de særligt godt kunne lide.
        Derfor lavede vi en pæn version, i høj opløsning, som er perfekt til at sende til en producent.
    </p>
    <p>
        Læg mærke til at alle mærkerne har relativt store flader, og relativt få forskellige farver.
        Det er nemlig nemmere at brodere mærker med store flader, for hver gang man skal skifte farve, skal der skiftes tråd i broderingsmaskinen.
        Det betyder også at mærker med mange farver ofte er meget dyrere at få produceret.
    </p>
    <figure>
        <img src="makkermarch-endeligt-design.png" alt="makkermarch-mærket med grøn kant, og en rød og en blå fod, bundet sammen med grøn snor">
        <figcaption>
            Det her er det endelige design, som vi lavede til mærket.
            Det er det design, der blev sendt til producenten.
        </figcaption>
    </figure>
    <p>
        Det kan også være rigtig svært at få blandede farver oversat til brodering på en pæn måde, så det ser ofte rodet ud.
        Derfor er det altså vigtigt i mærkedesigns, at holde sig til relativt få farver, og relativt store, pænt afskårne flader.
    </p>

    <h2 id="fremstilling-og-salg">Fremstilling og salg</h2>
    <p>
        Maria sendte mærket til produktion hos det svenske firma <a href="https://www.premiemax.se/" target="noopener">Premiemax</a>.
        Man skal udfylde en formular på svensk, hvor man lægger mærkedesignet op, for at betille mærket.
        Så skriver de tilbage, når de har et prøvemærke klart.
    </p>
    <figure>
        <img src="makkermarch-proevemaerke-1.jpg" alt="et prøvemærke på et målebåndsbaggrund">
        <figcaption>
            Sådan her så prøvemærket ud, da det kom fra Premiemax.
        </figcaption>
    </figure>
    <p>
        Da prøvemærket kom fra Premiemax, lagde Maria mærke til at det så lidt stort ud.
        Mærket lå på en grøn baggrund med en lineal, og det så altså større ud end de ville have det.
        Hun skrev en email tilbage til Premiemax, og efter en kort dialog fik de lavet mærket, præcis som de ville have det.
    </p>
    <p>
        Det ankom kort efter med posten, og så kunne salget gå i gang.
    </p>
    <figure>
        <img src="makkermarch-paa-uniform.jpg" alt="et makkermarch mærke på en uniform">
        <figcaption>
            Mærket, som det ser ud på en unifrom.
        </figcaption>
    </figure>
    <p>
        Efter et par uger var der solgt næsten 100 mærker.
        De bliver købt i mange forskellige mængder: alt fra 2 ad gangen og helt op til 50.
    </p>
    <p>
        Når man sender en email til Maria og bestiller, skriver hun det ned i en lille bog, hvor hun holder styr på ordrer.
        Når hun har modtaget pengene (via MobilePay eller bankoverførsel) for mærket, sender hun dem afsted med posten.
    </p>
    <p>
        Du kan finde mærket lige her på Mærkelex:
    </p>
    {% include maerkeIncludeBody.html maerke="makkermarch" %}

    <br><br>

    <p>
        Vi håber at denne her historie måske kan være en inspiration for andre vordende mærkesælgere &mdash; vi har i hvert fald forsøgt at give et overblik over hvordan man går fra ide til udførsel af et mærke, og hvordan det kan sælges.
    </p>
    <p>
        Spejderhilsen,<br>
        Niels og Anders fra Mærkelex
    </p>
</article>
<aside class="col aside-col">
    <h1>Har du spørgsmål?</h1>
    <p>Hvis der er noget vi mangler at gøre helt klart, kan du skrive til os og få hjælp på <a href="mailto:kontakt@maerkelex.dk">kontakt@maerkelex.dk</a>.</p>
    <br>
    <h1>Få inspiration til et mærke</h1>
    <p>
        Vores seneste blog post før denne handlede om hvordan man kommer på gode koncepter til mærker.
        Du kan læse den her: <a href="/blog/ide-til-maerke/">Hvordan finder man en god ide til et mærke?</a>
    </p>
    <br>
    <h1>Hvad koster det at sælge et mærke på Mærkelex?</h1>
    <p>
        Hvis du vi slippe for alt besværet med selv at skulle stå for salg af dit mærke, kan Mærkelex' salgsplatform hjælpe med at automatisere nogle af de kedelige opgaver.
        Du kan få et overblik over hvilke muligheder, der findes, i vores <a href="/prisberegner/">Prisberegner</a>.
    </p>
    <br>
    <h1>Se alle vores blog posts</h1>
    <p>Hvis du vil se om du er gået glip af noget, kan du tjekke oversigten over <a href="/blog/">alle blog posts</a>, vi har skrevet.</p>
</aside>
