<h1>Licenser dit mærke til Mærkelex</h1>
<p>
    Vi sælger en del mærker, vi ikke selv har designet.
    I stedet indgår vi licenseringsaftaler med mærkedesignerne, og så overtager vi produktion, pakning og forsendelse af mærkerne &ndash; samtidig med at designeren stadig får lov til at bestemme over en del af overskuddet.
</p>
<p>
    Se vilkårene i vores <a href="/prisberegner">Prisberegner</a>.
</p>
<br>
<p>
    {% include maerkeIncludeAside.html maerke="overlevelsestur" %}
</p>
<p>
    {% include maerkeIncludeAside.html maerke="10-min-taarn" %}
</p>
<p>
    {% include maerkeIncludeAside.html maerke="200km" %}
</p>
