---
layout: default
permalink: avanceret/
title: Avanceret søgning
---

{% assign tags_str = "" %}
{% for m in site.m %}
    {% for tag in m.tags %}
        {% assign tags_arr = tags_str | split: "," %}
        {% unless tags_arr contains tag %}
            {% assign tags_str = tags_str | append: "," | append: tag %}
        {% endunless %}
    {% endfor %}
{% endfor %}
{% assign tags = tags_str | remove_first: "," | split: "," | sort %}

<div class="advanced-search-container">
  <h1>Avanceret søgning</h1>
  <p>
      Her kan du lære at bruge søgningen på Mærkelex.
      Ved at udfylde felterne herunder, bygger du en søgestreng.
      Den kan ses nederst på siden.
      Når du har valgt kravene for din søgning, kan du trykke på "Søg" for at se resultaterne af søgningen.
  </p>
  <p>
      <strong>Tekst</strong>
      &mdash; Hvert ord (adskilt af mellemrum) søges efter individuelt.
      Der ledes i mærkernes titel og tags.
  </p>

  <p>
      <strong>Alder</strong>
      &mdash; Det er også muligt at tilpasse med en alder i din søgning.
      Du vil kun få resultater som er i eller under den aldersgruppe du tilhøre.
  </p>
  <p>
      <strong>Tags</strong>
      &mdash; Tryk på et tag for at slå det til/fra.
      Resultatet af søgningen bliver mærker der har alle de valgte tags.
  </p>

  <hr class="advanced-search-divider" />

  <section class="advanced-search-setting-box">
      <label class="index-label" for="plaintextInput">Tekst:</label>
      <input type="text" id="plaintextInput">
  </section>

  <section class="advanced-search-setting-box">

      <div class="ageInput">
        <div class="checkbox">
          <input type="checkbox" id="ageInputEnabled">
          <label for="ageInputEnabled"></label>
        </div>
        <label for="ageInputEnabled">Aktiver alderssøgning</label>
      </div>
      <div id="ageInputContainer">
        <label class="index-label" for="ageInputEnabled">Alder:</label>
        <input type="number" min="0" max="30" id="ageInput" disabled>
      </div>
  </section>

  <section class="advanced-search-setting-box advanced-search-tags">
      {% for tag in tags %}
          <a class="toggle-tag">{{ tag }}</a>
      {% endfor %}
  </section>

  <section class="advanced-search-result">
    <div class="advanced-search-result-container">
        <p>
          <strong>Søgning:</strong>
          <span id="searchResult"></span>
        </p>
        <button type="submit" id="searchButton">Søg</button>
    </div>
  </section>
</div>

<script>
    var ageSlider = document.querySelector("#ageInput");
    var plaintextInput = document.querySelector("#plaintextInput");

    document.querySelector("#ageInputEnabled").addEventListener("click", function(e) {
        ageSlider.disabled = !this.checked;
        if(this.checked){
          document.querySelector("#ageInputContainer").style.display = "block";
        } else {
          document.querySelector("#ageInputContainer").style.display = "none";
        }
        reloadSearchString();
    });

    ageSlider.addEventListener("change", function(e) {
        reloadSearchString();
    });

    plaintextInput.addEventListener("keyup", function(e) {
        reloadSearchString();
    });

    Array.prototype.forEach.call(document.querySelectorAll(".toggle-tag"), function(toggleTag) {
        toggleTag.addEventListener("click", function(e) {
            if(toggleTag.className.indexOf("tagged-in") == -1) {
                toggleTag.className += " tagged-in";
            }
            else {
                toggleTag.className = "toggle-tag";
            }
            reloadSearchString();
        });
    });

    var searchResultContainer = document.querySelector("#searchResult");

    function reloadSearchString() {
        var searchTerms = [];

        if(plaintextInput.value != "") {
            searchTerms = searchTerms.concat(plaintextInput.value.split(" "));
        }

        if(!ageSlider.disabled) {
            searchTerms.push("alder:" + ageSlider.value);
        }

        Array.prototype.forEach.call(document.querySelectorAll(".toggle-tag.tagged-in"), function(includedTag) {
            searchTerms.push("tag:" + includedTag.innerHTML);
        });

        searchResultContainer.innerHTML = searchTerms.join(" ");
    }

    document.querySelector("#searchButton").addEventListener("click", function() {
        searchBar.value = searchResultContainer.innerHTML;
        searchBar.focus();
        search();
    });
</script>
