---
layout: default-no-container
title: Indkøbskurv
---
<div class="container align-center">
  <div class="content">
    <div class="jumbotron align-center">
      <h1>Indkøbskurv</h1>
    </div>
    <section class="checkout-flow-container">
      <div class="purchase-container">
        <div class="purchase-form cart">
          <h2>Mærker du køber</h2>
          <div class="cart__header">
            <p class="mt-0">
              Du har <span data-total-badge-count>X</span> mærker i kurven.
            </p>
            <script>
              owbs.bind("cart", "[data-total-badge-count]", (cart) => {
                return cart
                  .map((item) => item.count)
                  .reduce((a, b) => a + b, 0);
              });
            </script>
          </div>
          <div class="cart__items" data-badge-list></div>
          <script>
            owbs.bind("cart", "[data-badge-list]", (cart) => {
              return cart.map((badge) => `
                <div class="cart-item">
                  <img class="cart-item__image" style="width: 100px;" src="{{ site.baseurl }}/img/compressed/${badge.image}" alt="${badge.name} spejdermærke">
                  <div>
                    <p>
                      ${badge.name}, ${badge.count} stk.<br>
                      <a href="/m/${badge.id}/">Gå til mærkeside</a><br>
                      <a class="cart-item__remmove-action" data-js-remove-badge data-badge-id="${badge.id}">
                        Slet fra kurv
                      </a>
                    </p>
                  </div>
                  <div class="spacer"></div>
                  <div class="cart-adjust">
                    
                    <a class="cart-item__adjust-action" data-js-increase-badge-amount data-badge-id="${badge.id}">
                    + 1
                    </a>
                    <a class="cart-item__adjust-action" data-js-decrease-badge-amount data-badge-id="${badge.id}">
                    - 1
                    </a>
                  </div>
                </div>
              `).join("");
            }, "html");
          </script>
          <div class="cart__actions">
            <button class="btn btn--outline btn--fullsize btn--icon btn--clear-cart" data-empty-cart-button>
              Tøm Kurv
            </button>
          </div>
        </div>
      </div>
      <div class="purchase-container">
        <form class="purchase-form" method="post" action="{{ site.paymentsSiteUrl }}" id="order-form">
          <input type="hidden" name="return-url" value="http://xn--mrkelex-mxa.dk{{ page.url }}" id="return-url" />
          <div data-badges-hidden-input-fields></div>
          <script>
            owbs.bind("cart", "[data-badges-hidden-input-fields]", (cart) => {
              return cart.map((badge, index) => `
                <input
                  type="hidden"
                  name="badges[${index}][id]"
                  value="${badge.id}"
                >
                <input
                  type="hidden"
                  name="badges[${index}][count]"
                  value="${badge.count}"
                >
              `).join("");
            }, "html");
          </script>
          <div class="order-part">
            <h2>Leveringsoplysninger</h2>
          </div>
          <div class="invoicing-address-part">
            <h3>Faktureringsadresse</h3>
            <label for="invoicing-name">
              Navn:
              <input type="text" name="invoicing-name" id="invoicing-name" autocomplete="name" />
              <div class="input-error-message input-error-message-hidden"></div>
            </label>
            <label for="invoicing-address">
              Vej og husnummer:
              <input type="text" name="invoicing-address" id="invoicing-address" autocomplete="shipping street-address" />
              <div class="input-error-message input-error-message-hidden"></div>
            </label>
            <div class="city-info-container">
              <label for="invoicing-postal-code" class="postal-code">
                Postnr.:
                <input
                  type="text"
                  name="invoicing-postal-code"
                  id="invoicing-postal-code"
                  autocomplete="shipping postal-code"
                />
                <div class="input-error-message input-error-message-hidden"></div>
              </label>
              <label for="invoicing-city" class="city">
                By:
                <input type="text" name="invoicing-city" id="invoicing-city" autocomplete="shipping locality" />
                <div class="input-error-message input-error-message-hidden"></div>
              </label>
            </div>
            <div>
              <label for="invoicing-country" class="country">
                Land:
                <select type="text" name="invoicing-country" id="invoicing-country" autocomplete="shipping country">
                  {% include country-list.html %}
                </select>
                <div class="input-error-message input-error-message-hidden"></div>
              </label>
            </div>
            <label for="delivery-address-differs" class="checkbox-label">
              <input type="checkbox" name="delivery-address-differs" id="delivery-address-differs" />
              Leveringsadressen er forskellig fra faktureringsadressen
            </label>
          </div>
          <div class="delivery-address-part">
            <h3>Leveringsadresse</h3>
            <label for="delivery-name">
              Navn:
              <input type="text" name="delivery-name" id="delivery-name" />
              <div class="input-error-message input-error-message-hidden"></div>
            </label>
            <label for="delivery-address">
              Vej og husnummer:
              <input type="text" name="delivery-address" id="delivery-address" />
              <div class="input-error-message input-error-message-hidden"></div>
            </label>
            <div class="city-info-container">
              <label for="delivery-postal-code" class="postal-code">
                Postnr.:
                <input type="text" name="delivery-postal-code" id="delivery-postal-code" />
                <div class="input-error-message input-error-message-hidden"></div>
              </label>
              <label for="delivery-city" class="city">
                By:
                <input type="text" name="delivery-city" id="delivery-city" />
                <div class="input-error-message input-error-message-hidden"></div>
              </label>
            </div>
            <div>
              <label for="delivery-country" class="country">
                Land:
                <select type="text" name="delivery-country" id="delivery-country">
                  {% include country-list.html %}
                </select>
                <div class="input-error-message input-error-message-hidden"></div>
              </label>
            </div>
          </div>
          <script>
            var deliveryPart = document.querySelector(".delivery-address-part");
            document.querySelector("#delivery-address-differs").addEventListener("change", function () {
              if (this.checked) {
                deliveryPart.style = "display: block;";
              } else {
                deliveryPart.style = "";
              }
            });
          </script>
          <div class="contact-information-part">
            <h3>Kontaktinformation</h3>
            <label for="email">
              Email:
              <input type="email" name="email" id="email" autocomplete="email" />
              <div class="input-error-message input-error-message-hidden"></div>
            </label>
            <label for="phone-number">
              Telefonnummer:
              <input type="tel" name="phone-number" id="phone-number" autocomplete="tel" />
              <div class="input-error-message input-error-message-hidden"></div>
            </label>
          </div>
          <p>
            Levering i Danmark koster {{ page.shippingPrice | default: site.defaultShippingPrice }} kr. International levering
            koster {{ site.internationalShippingPrice }} kr.
            <a href="mailto:kontakt@maerkelex.dk">Kontakt os</a> for en særlig aftale, hvis du ønsker international levering
            udover de tilgængelige lande.
          </p>
          <div class="btn-container">
            <button class="btn btn--fullsize btn--icon btn--icon-payment buylink">Gå til betaling</button>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>

<script>
  (function () {
    const emptyCartButton = document.querySelector("[data-empty-cart-button]");
    const orderForm = document.querySelector("#order-form");

    emptyCartButton.addEventListener("click", function () {
      emptyCart();
    });

    orderForm.addEventListener("submit", function (event) {
      submitOrderForm();
    });

    owbs.on("cart", () => {
      const removeBageBtn = document.querySelectorAll("[data-js-remove-badge]");
      removeBageBtn.forEach((btn) => {
        btn.addEventListener("click", function () {
          removeBadgeFromCart(btn.dataset.badgeId);
        });
      });
      const increaseBadgeBtn = document.querySelectorAll("[data-js-increase-badge-amount]");
      increaseBadgeBtn.forEach((btn) => {
        btn.addEventListener("click", function () {
          changeBadgeAmountInCart(btn.dataset.badgeId, 1);
        });
      });
      const decreaseBadgeBtn = document.querySelectorAll("[data-js-decrease-badge-amount]");
      decreaseBadgeBtn.forEach((btn) => {
        btn.addEventListener("click", function () {
          changeBadgeAmountInCart(btn.dataset.badgeId, -1);
        });
      });
    });

    function emptyCart() {
      owbs.val.cart = [];
    }

    function removeBadgeFromCart(badgeId) {
      const cart = owbs.val.cart;
      const updatedCart = cart.filter((data) => data.id != badgeId);
      owbs.val.cart = updatedCart;
    }

    function changeBadgeAmountInCart(badgeId, diff){
      const cart = owbs.val.cart;
      owbs.val.cart = cart
        .map((data) => {
          if(data.id == badgeId) {
            data.count += diff; 
          }
          return data;
        })
        .filter((data) => data.count >= 1);
    }

    function submitOrderForm() {
      var errors = {};

      var email = orderForm.email.value;
      var phoneNumber = orderForm["phone-number"].value;

      if (!/^.+@.+$/.test(email)) {
        errors.email = "Ugyldig email";
      }

      if (!phoneNumber) {
        errors["phone-number"] = "Mangler telefonnummer";
      }

      var invoicing = {
        name: orderForm["invoicing-name"].value,
        address: orderForm["invoicing-address"].value,
        postalCode: orderForm["invoicing-postal-code"].value,
        city: orderForm["invoicing-city"].value,
      };

      validateAddress(invoicing, "invoicing", errors);

      var deliveryAddressDiffers = orderForm["delivery-address-differs"].checked;

      if (deliveryAddressDiffers) {
        var delivery = {
          name: orderForm["delivery-name"].value,
          address: orderForm["delivery-address"].value,
          postalCode: orderForm["delivery-postal-code"].value,
          city: orderForm["delivery-city"].value,
        };

        validateAddress(delivery, "delivery", errors);
      }

      if (!Object.keys(errors).length) {
        return;
      }

      event.preventDefault();

      Object.keys(errors).forEach(function (field) {
        orderForm[field].classList.add("input-error");
        var errorMessageDisplay = orderForm[field].parentElement.querySelector(".input-error-message");
        errorMessageDisplay.classList.remove("input-error-message-hidden");
        errorMessageDisplay.innerText = errors[field];
      });
    }

    function validateAddress(obj, prefix, errors) {
      if (!obj.name) {
        errors[prefix + "-name"] = "Mangler navn";
      }

      if (!obj.address) {
        errors[prefix + "-address"] = "Mangler leveringsadresse";
      }

      if (!obj.postalCode) {
        errors[prefix + "-postal-code"] = "Mangler postnr";
      }

      if (!obj.city) {
        errors[prefix + "-city"] = "Mangler by";
      }
    }

    Array.prototype.forEach.call(orderForm.elements, function (field) {
      field.addEventListener("input", function () {
        field.classList.remove("input-error");
        const inputErrorMessage = field.parentElement.querySelector(".input-error-message");
        if (inputErrorMessage) {
          inputErrorMessage.classList.add("input-error-message-hidden");
        }
      });
    });

    orderForm.email.addEventListener("change", function () {
      if (/^.+@.+\.(com|dk|org|eu|nu)$/.test(orderForm.email.value)) {
        return;
      }

      var errorMessageDisplay = orderForm.email.parentElement.querySelector(".input-error-message");
      errorMessageDisplay.classList.remove("input-error-message-hidden");
      errorMessageDisplay.innerText = "Er du sikker på at det er den korrekte email?";
    });
  })();
</script>
