---
layout: default-no-container
title: Køb mærker
---
<div class="container align-center">
    <div class="content">
        <div class="align-center">
            <h1>Shop</h1>
            <p>
                Her er en oversigt over de mærker, du kan købe direkte på Mærkelex.
            </p>
            <br>
            <br>
        </div>
        {% assign sorted_m = site.m | sort: "name" %}
        {% for m in sorted_m %}
            {% if m.price %}
                {% assign m_url = m.url %}
                {% assign m_first_tag = m.tags.first %}
                {% capture m_age %}{% if m.age %}{{ m.age }} år{% else %}Alle aldre{% endif %}{% endcapture %}
                {% assign m_image = m.image %}
                {% assign m_name = m.name %}
                {% assign m_purchasable = "" %}
                {% assign m_highlight_class = m.highlight %}
                {% assign m_purchasable = "purchasable" %}
                {% if m.preorder %}
                    {% assign m_highlight_text = "<strong>Forudbestil</strong>" %}
                {% else %}
                    {% assign m_highlight_text = "<strong>Køb for " | append: m.price | append: " kr</strong>" %}
                {% endif %}
                {% include maerkebox.html %}
            {% endif %}
        {% endfor %}
    </div>
</div>
