---
layout: default
title: Køb mærker på Spejdernes Lejr 2017
type: blogpost
image: maerker-spejdernes-lejr-2017-full.jpg
---
<article class="col content-col">
    <h1>Hvor køber jeg mærker på Spejdernes Lejr 2017?</h1>
    <div class="blog-post-date">19. juli 2017</div>

    <figure>
        <a href="maerker-spejdernes-lejr-2017-full.jpg" target="_blank">
            <img src="maerker-spejdernes-lejr-2017.jpg" alt="blog image">
        </a>
        <figcaption>Klik på billedet for at forstørre.</figcaption>
    </figure>
    <p>
        På SL2017 samles 40.000 spejdere fra hele landet i Sønderborg, og det viser sig at være en rigtig god mulighed for at få købt nogle uofficielle mærker af dem der har lavet dem.
        Vi har samlet en liste over de mærker der kan købes rundt omkring på lejren, og hvor de kan købes.
        Det skulle gerne hjællpe dig med at planlægge en rute.
    </p>
    <p>
        Ud for hver overskrift er der et tal.
        Det kan I bruge til at finde afhentningsstedet på kortet ovenfor.
        For eksempel er Mærkelex markeret med tallet 1 på kortet.
    </p>
    <p>
        Der står ikke præcis hvor man køber mærket, for det kan jo være at sælgeren er på aktivitet, eller laver noget andet.
        Man kan ikke bare møde op og forvente at kunne købe et mærke.
        Kontakt sælgeren, hvis du er interesseret, og aftal nærmere.
    </p>

    <h2>Mærkelex (1)</h2>
    <div class="badge-seller">
        <p>
            <strong>Afhentes:</strong> Kvartet Gladsaxesenderen i Tårnet<br>
            <strong>Betalingsmetoder:</strong> MobilePay<br>
            <strong>Kontakt:</strong> Skriv til os på <a href="https://facebook.com/maerkelex">Facebook Messenger</a> eller via email <a href="mailto:kontakt@maerkelex.dk">kontakt@maerkelex.dk</a><br>
            <strong>Pris:</strong> 20 kr/stk.
        </p>
        <div class="blog-badges">
            {% include maerkeIncludeAside.html maerke="overlevelsestur" %}
            {% include maerkeIncludeAside.html maerke="10-min-taarn" %}
        </div>
    </div>

    <h2>Sjovt, dumt, farligt (2)</h2>
    <div class="badge-seller">
        <p>
            <strong>Afhentes:</strong> Broen, 242 &mdash; lige ved siden af Sct Bendts<br>
            <strong>Betalingsmetoder:</strong> MobilePay<br>
            <strong>Kontakt:</strong> Sanne på SMS <a href="tel:+4528890415">28 89 04 15</a><br>
            <strong>Pris:</strong> 20 kr/stk.
        </p>
        <div class="blog-badges">
            {% include maerkeIncludeAside.html maerke="sjovt-dumt-farligt" %}
        </div>
    </div>

    <h2>Skovskidermærket (3)</h2>
    <div class="badge-seller">
        <p>
            <strong>Afhentes:</strong> i Slottet i kvarteret Borgring hos Borupspejderne<br>
            <strong>Betalingsmetoder:</strong> MobilePay<br>
            <strong>Kontakt:</strong> Ulla på telefon <a href="tel:+4520634798">20 63 47 98</a> (men mærket sælges kun tirsdag, onsdag og torsdag).<br>
            <strong>Pris:</strong> 20 kr/stk.
        </p>
        <div class="blog-badges">
            {% include maerkeIncludeAside.html maerke="skovskider" %}
        </div>
    </div>

    <h2>Rungstedspejderne (4)</h2>
    <div class="badge-seller">
        <p>
            <strong>Afhentes:</strong> i Slottet i kvarteret Hirscholm hos Rungstedspejderne<br>
            <strong>Betalingsmetoder:</strong> MobilePay<br>
            <strong>Kontakt:</strong> Mette på telefon <a href="tel:+4530507214">30 50 72 14</a><br>
            <strong>Pris:</strong> 30 kr/stk.
        </p>
        <div class="blog-badges">
            {% include maerkeIncludeAside.html maerke="24-timer-i-sovepose" %}
            {% include maerkeIncludeAside.html maerke="kollekolle" %}
        </div>
    </div>

    <h2>Herfølgespejderne (5)</h2>
    <div class="badge-seller">
        <p>
            <strong>Afhentes:</strong> i Slottet i kvarteret Borgring<br>
            <strong>Betalingsmetoder:</strong> MobilePay, bankoverførsler, PayPal<br>
            <strong>Kontakt:</strong> Peter på telefon <a href="tel:+4530781730">30 78 17 30</a><br>
            <strong>Pris:</strong> 25 kr/stk.
        </p>
        <div class="blog-badges">
            {% include maerkeIncludeAside.html maerke="bacon" %}
        </div>
    </div>

    <h2>100 km < 24 h (6)</h2>
    <div class="badge-seller">
        <p>
            <strong>Afhentes:</strong> i Møllen i kvarteret Egeskov mølle hos KFUM spejderne i Ringe<br>
            <strong>Betalingsmetoder:</strong> MobilePay<br>
            <strong>Kontakt:</strong> Lars på telefon <a href="tel:+4522178575">22 17 85 75</a> eller <a href="mailto:lars@linmik.dk">email</a><br>
            <strong>Pris:</strong> 25 kr/stk.
        </p>
        <div class="blog-badges">
            {% include maerkeIncludeAside.html maerke="100km-24h" %}
        </div>
    </div>

    <h2>Balder Asnæs (7)</h2>
    <div class="badge-seller">
        <p>
            <strong>Afhentes:</strong> i Tårnet i kvarteret Vandtårnet<br>
            <strong>Betalingsmetoder:</strong> MobilePay<br>
            <strong>Kontakt:</strong> Jonas på telefon <a href="tel:+4551305559">51 30 55 59</a> eller Morten <a href="tel:+4560897733">60 89 77 33</a><br>
            <strong>Pris:</strong> 26 kr/stk. for Robust Borger, 35 kr. for et sæt (3 mærker) af Knotnut.
        </p>
        <div class="blog-badges">
            {% include maerkeIncludeAside.html maerke="robust-borger" %}
            {% include maerkeIncludeAside.html maerke="knotnut" %}
        </div>
    </div>

    <h2>Platform (8)</h2>
    <div class="badge-seller">
        <p>
            <strong>Afhentes:</strong> i Møllen i kvarteret Egeskov mølle<br>
            <strong>Betalingsmetoder:</strong> MobilePay<br>
            <strong>Kontakt:</strong> Skriv til os på <a href="https://facebook.com/platform">Facebook-siden</a><br>
            <strong>Pris:</strong> 25 kr/stk.
        </p>
        <div class="blog-badges">
            {% include maerkeIncludeAside.html maerke="platform" %}
        </div>
    </div>

    <h2>Sigrid Wille (9)</h2>
    <div class="badge-seller">
        <p>
            <strong>Afhentes:</strong> i Tårnet i kvarteret Blåvand Fyr/Varde kommune<br>
            <strong>Betalingsmetoder:</strong> MobilePay, kontant, bankoverførsler<br>
            <strong>Kontakt:</strong> Sigrid Wille på <a href="tel:24860771">24860771</a> eller <a href="mailto:sspoelgod@hotmail.com">sspoelgod@hotmail.com</a><br>
            <strong>Pris:</strong> 20 kr/stk. &mdash; undtagen 24 timer, der koster 25 kr/stk.
        </p>
        <div class="blog-badges">
            {% include maerkeIncludeAside.html maerke="flagmaerket" %}
            {% include maerkeIncludeAside.html maerke="baglaens" %}
            {% include maerkeIncludeAside.html maerke="24-timer" %}
            {% include maerkeIncludeAside.html maerke="koekkenhold" %}
        </div>
    </div>

    <h2>DGP Søndersø gruppe (10)</h2>
    <div class="badge-seller">
        <p>
            <strong>Afhentes:</strong> i Broen i kvarteret Alles Bro<br>
            <strong>Betalingsmetoder:</strong> MobilePay<br>
            <strong>Kontakt:</strong> SMS til Christine på <a href="tel:+4520855785">20 85 57 85</a> eller via <a href="https://www.facebook.com/dgpsoendersoe/">Facebook-siden</a><br>
            <strong>Pris:</strong> 20 kr/stk.
        </p>
        <div class="blog-badges">
            {% include maerkeIncludeAside.html maerke="baalvogter" %}
        </div>
    </div>

    <h2>Skarridsø Gruppe (11)</h2>
    <div class="badge-seller">
        <p>
            <strong>Afhentes:</strong> i kvarteret Vandtårnet i Tårnet<br>
            <strong>Betalingsmetoder:</strong> MobilePay<br>
            <strong>Kontakt:</strong> SMS til Henrik på <a href="tel:+4551643759">51 64 37 59</a> eller via mail <a href="mailto:dexter@live.dk">dexter@live.dk</a><br>
            <strong>Pris:</strong> 20 kr/stk.
        </p>
        <div class="blog-badges">
            {% include maerkeIncludeAside.html maerke="baalmad" %}
            {% include maerkeIncludeAside.html maerke="hjaelpermaerke" %}
            {% include maerkeIncludeAside.html maerke="baalbroed" %}
        </div>
    </div>

    <h2>Skirtymærket (12)</h2>
    <div class="badge-seller">
        <p>
            <strong>Afhentes:</strong> i kvarteret Det Midtsjællandske Brofællesskab I/S i Broen<br>
            <strong>Betalingsmetoder:</strong> MobilePay<br>
            <strong>Kontakt:</strong> Via <a href="https://www.facebook.com/nederdel/">Facebook-siden</a><br>
            <strong>Pris:</strong> 20 kr/stk.
        </p>
        <div class="blog-badges">
            {% include maerkeIncludeAside.html maerke="skirty" %}
        </div>
    </div>
    <br>
    <p>
        Vi håber at I får nogle gode oplevelser på lejren &mdash; også nogle med mærker involveret.
    </p>
    <p>
        Spejderhilsen,<br>
        Niels og Anders fra Mærkelex
    </p>
</article>
<aside class="col aside-col">
    <h1>Vidste du at man kan købe og sælge mærker direkte på Mærkelex?</h1>
    <p>
        Hvis du ikke skal med på lejren kan du stadig hurtigt få fat i mærker.
        For eksempel kan du købe mærket 10-minutters-tårn lige her og nu, og få det sendt til døren.
    </p>
    <p>
        {% include maerkeIncludeAside.html maerke="10-min-taarn" %}
    </p>
    <br>
    <h1>Er du mærkesælger, og vil du også sælge direkte på Mærkelex?</h1>
    <p>
        Vi lancerede for nylig et salgssystem, og vil gerne hjælpe flere mærkesælgere med en bedre salgsoplevelse.
        Du kan læse mere i vores blog post <a href="/blog/saelg-paa-maerkelex">Sælg dit mærke direkte på Mærkelex</a> eller skrive til os direkte på <a href="mailto:kontakt@maerkelex.dk">kontakt@maerkelex.dk</a> hvis du er interesseret.
    </p>
    <br>
    <h1>Se alle vores blog posts</h1>
    <p>Hvis du vil se om du er gået glip af noget, kan du tjekke oversigten over <a href="/blog/">alle blog posts</a>, vi har skrevet.</p>
</aside>
