<h1>Hjemmespejd-mærker</h1>
<p>
    I blog posten her har vi skrevet om nogle hjemmespejd-mærker.
    Her kan du se dem af dem, der er på Mærkelex.
    Det er generelt dem der er færdige nok til at de kan købes og har et regelsæt.
</p>
<p>{% include 'maerkeIncludeAside.html' maerke="stenlaendernes-hjemmespejd-expert" %}</p>
<p>{% include 'maerkeIncludeAside.html' maerke="balder-gruppe-hjemmespejd" %}</p>
<p>{% include 'maerkeIncludeAside.html' maerke="flemming-spejdernes-hjemmespejderi" %}</p>
<p>{% include 'maerkeIncludeAside.html' maerke="voerladegaard-hjemmespejd" %}</p>
<p>{% include 'maerkeIncludeAside.html' maerke="coronamaerket" %}</p>
<p>{% include 'maerkeIncludeAside.html' maerke="paaskespejd" %}</p>

<h1>Mangler vi at nævne noget?</h1>
<p>Vi prøver at følge med i hvad der sker på hjemmespejd-fronten, men vi har sikkert ikke alt med.</p>
<p>Du er meget velkommen til at skrive til os på <a href="mailto:kontakt@maerkelex.dk">kontakt@maerkelex.dk</a> hvis der er noget vi mangler at få med.</p>

<h1>Det Danske Spejderkorps skriver...</h1>
<p>
    Det Danske Spejderkorps har <a href="https://dds.dk/artikel/inspiration-til-hjemmespejd" target="_blank" rel="noopener">skrevet en artikel med eksempler på Hjemmespejd</a>, for at inspirere grupper rundt omkring i Danmark.
    Vi har også de eksempler, de nævner, med i vores blog post her.
</p>

<h1>Se alle vores blog posts</h1>
<p>Hvis du vil se om du er gået glip af noget, kan du tjekke oversigten over <a href="/blog/">alle blog posts</a>, vi har skrevet.</p>
