---
layout: default
title: "Spotlight: Skirty-mærket"
date: 3. oktober 2017
image: skirty-tegning.jpg
---
{% capture blog-post-content %}
<p>
    Her hos Mærkelex er vi store tilhængere af alle de forskellige, kreative mærker, der findes.
    Derfor prøver vi en gang imellem at sætte fokus på et af de mærker, du sikkert kender til, for at høre historien bag.
</p>
<p>
    Vores håb er at du, ved at høre fra menneskerne bag mærkerne, kan blive inspireret til aktiviteter, og måske endda også til at lave dit eget mærke.
</p>
<p>
    I denne blog post har vi fokus på Skrity-mærket, som man får ved at gå med nederdel i et år.
</p>

{% include maerkeIncludeBody.html maerke="skirty" %}

<h2>Ideen til mærket</h2>
<p>
    På et kvartersmøde op til Spejdernes Lejr 2012 sagde Lise, i spøg, "pigespejdere går da i nederdel".
    Pigespejdere møder nemlig ofte fordomme, og ikke kun dem normale spejdere møder.
    Pigespejdere møder også fordomme fra andre spejdere.
</p>
<p>
    "Hos De grønne pigespejdere har vi både piger (og kvinder), der aldrig vil gå i andet end Fjällräven-bukser og hættetrøje, og piger der sværger til nederdel og et mere feminint udtryk &mdash; også til spejder," forklarer Lise.
    "Så vi vil gerne vise, at man godt kan være pæn og praktisk samtidig, og i mødekomme feminin påklædning samt udfordre det, i gåseøjne, almindelige spejder-outfit."
</p>
<p>
    Fra joken formede sig langsomt en ide til et mærke.
    "I løbet af efteråret 2012 luftede jeg tanken blandt de pigespejdere, der var involveret som stab i vores patruljelederuddannelse <em>Ungleder</em>," forklarede Lise, "og der var straks opbakning."
    Her blev Charlotte involveret, og det er stadig Lise og Charlotte der, den dag i dag, står bag Skirty-mærket.
    Lise er den primære tovholder og står for Facebooksiden og mærkeadministration.
</p>
<p>
    Mærket blev lanceret på et af De grønne pigespejderes lederkurser i november 2012, og var i sin udformning inspireret af mærkerne <a href="/m/shorty/">Shorty</a> og <a href="/m/viking/">Viking</a>.
    For at tage Skirty-mærket behøver man ikke have bare knæ, i modsætning til mærkerne man tager ved at have shorts på.
    Det skyldes at mærket i virkeligheden går ud på "at turde være feminint klædt til spejder," siger Lise.
</p>
<p>
    Hos De grønne pigespejdere kan man tage et mærke samtidig med at man gør noget ekstraordinært, noget anderledes og vildere.
    Det hedder at X'e mærket, og man får så lov til at sy et rødt kryds ovenpå mærket.
    Derfor fandt de på reglerne for at X'e Skirty: man skal have bare ben under hele forløbet.
</p>
<figure style="text-align: center;">
    <img src="astrid-i-melonkjole.jpg" alt="en pige i en hjemmesyet kjole, der ligner en melon" style="max-width: 330px;">
    <figcaption>Da Astrid tog skirty, syede hun også sin egen melonkjole til formålet.</figcaption>
</figure>

<h2>Hvordan blev mærket til virkelighed?</h2>
<p>
    Et mærke er mere end bare en ide.
    Et mærke skal også se godt ud og være af en kvalitet der holder, så man kan blive ved med at have det på uniformen i mange år.
</p>
<p>
    For at få ideer til mærket, spurgte Lise og Charlotte lederne omkring sig, og Charlotte tegnede det endelige design (en silhouet af en pige i nederdel, omgivet af symboler for de fire årstider).
    De valgte en lille kant på mærket, for at det ikke skulel virke for specifikt rettet mod pigespejdere: alle kan tage mærket.
</p>
<p>
    "Jeg har tegnet mange forskellige mærker," forklarer Charlotte, "hver gang starter jeg med at finde ud af hvad det egentlig er for et mærke.
    I dette tilfælde noget med en nederdel, der skal bæres i et helt år.
    Derefter søger jeg lidt på nettet, efter tegninger til inspiration.
    Så sætter jeg mig ned og skitserer i hånden, først med blyant og senere med farveblyanter."
</p>
<p>
    Den første udgave af Skirty er produceret på baggrund af en tegning, Charlotte havde lavet i hånden.
    Nu bruger hun dog Adobe Illustrator, som er et professionelt illustrationsværktøj, til at lave mærkedesigns i.
    "Fordelen ved computerprogrammet er, at det er nemmere at redigere i, især når man designer mærker for andre," forklarer hun.
    Det er ikke så nemt at rette en blyantstegning til, eller rykke rundt på elementer, for at prøve en anden sammensætning.
</p>
<figure>
    <img src="skirty-tegning.jpg" alt="en farveblyantstegning af skirty mærket">
    <figcaption>Sådan her så tegningen ud, som blev sendt til producenten, da de første Skirty-mærker skulle laves.</figcaption>
</figure>
<p>
    Lise og Charlotte vidste allerede hvordan man får mærker fremstillet, fordi de har lavet mærker i forbindelse med deres kursusarbejde.
    De sendte ordren afsted til <a href="https://www.premiemax.se/" target="noopener">Premiemax</a>, som er et svensk firma, der blandt andet producerer mærker.
    Det er også her Mærkelex får produceret sine egne mærker.
</p>
<p>
    Efter mærket er ankommet er der dog stadig ting at se til, for mærket skal også sælges og sendes ud til dem, der køber det.
    Det står Lise for, og "det tager lidt tid, men det er bestemt overkommeligt," siger hun.
</p>
<p>
    Hun plejer at samle sammen og sende ordrer samlet, men heldigvis kommer der ofte flere bestillinger tæt på hinanden.
    "Der kan gå en måned uden bestillinger, og så kommer der 3 på en uge," forklarer Lise.
</p>
<p>
    Det mest tidskrævende er at følge op på om folk har betalt for deres mærker.
    Lise opkræver nemlig ikke betaling før mærkerne er modtaget.
    "Jeg stoler generelt på mennesker og især spejdere," begrunder hun.
</p>
<p>
    Hun bruger et excelark til at holde styr på, hvem hun har sendt mærker til, og hvem der har betalt.
    Og så må hun tjekke bankindtog løbende, og skrive ned når hun har fået betalingen.
    Der er også en del der betaler med mobilepay, og det er lidt nemmere at lægge mærke til end bankindtogene.
</p>

<h2>Der er mange i nederdel!</h2>
<p>
    Skirty-mærket har givet rigtig mange spejdere nogle gode oplevelser.
    Det at skulle have nederdel på til al slags arbejde er både noget der kan være lidt udfordrende, men også en begrænsning der kan gøre én rigtig kreativ.
</p>
<p>
    På <a href="https://www.facebook.com/nederdel/" target="noopener">Skirty-mærkets Facebookside</a> kan man blandt andet læse om DDS-spejderen Astrid, der har designet sin egen vandmelonkjole, og blandt andet har været på natløb og PLan-kurser i løbet af sit år i nederdel.
</p>
<p>
    Der er også historier om spejdere, der har trodset elementerne i deres nederdel, som for eksempel Hanna fra Brøns-roverne, der tog ud for at fange Østers i Vadehavet i bare knæ og frost.
</p>
<p>
    Og så er det jo altså ikke kun piger, der tager Skirty.
    Der er også adskillige historier om drenge, som Gustav på baglænshejk, eller to drenge Påskekursus, der viser at alle kan lave spejderarbejde i nederdel.
</p>
<figure>
    <img src="gustav-skirty.jpg" alt="en dreng går baglæns hejk i nederdel, med to andre spejdere på samme tur i baggrunden">
    <figcaption>Gustav går baglæns-hejk i nederdel.</figcaption>
</figure>
<p>
    Men hvad sker der egentlig, når man er færdig med at tage Skirty?
    Er det et mærke man tager for udfordringen, for så aldrig at gå med nederdel igen?
    Eller er det et mærke der gør det mere normalt at gå med nederdel?
</p>
<p>
    Lise argumenterer for at det varierer fra person til person.
    For nogle er det en engangsting.
    "Men for andre, deriblandt mig selv, har det været med til at udvide min spejdergarderobe og gøre det mere legitimt, ikke bare at gå med nederdel, men at være lidt mere feminin i udtrykket end tidligere," siger hun.
    "Det har også betydet, at jeg også oftere går i nederdel til hverdag."
</p>
<p>
    For at gøre det at få mærket til noget lidt højtideligt, har Lise og Charlotte lavet et Skirty-løfte, som er en formular man skal skrive under, når man starter med at tage mærket.
    Man skal også få en ven til at skrive under som vidne på at det er noget seriøst, man begiver sig ud i.
</p>
<p>
    Der er også mange grupper, der holder ceremonier, når spejderne er færdige med at tage mærket, og der er også nogle der uddeler diplomer.
</p>
<p>
    For nylig blev Skirty-mærke nummer 1000 givet.
</p>
<br>
<p>
    Afslutningsvis spurgte vi Lise om hendes bedste råd til andre folk, der går med tanker om at lave deres eget mærke:
</p>
<p>
    "Vær klar på mærkets formål, hvad det signalerer og hvorfor man skal tage det," lyder rådet.
    Det bruger Skirty-mærket f.eks. deres Facebookside til at kommunikere, gennem historier og billeder af folk der tager mærket.
</p>
<br>
<p>
    Vi synes i hvert fald at Skirty-mærket er et rigtig godt koncept, og vi synes det er sejt at Lise og Charlotte har fået skabt gode oplevelser for så mange spejdere med deres mærke!
</p>
<p>
    Spejderhilsen,<br>
    Niels og Anders fra Mærkelex
</p>
{% endcapture %}
{% include blogpost.html %}
<aside class="col aside-col">
    {% include_relative aside.html %}
</aside>
