<h1>I samarbejde medspejd.io</h1>
<p>
    Vi har med glæde støttet Spejd.ios arbejde som uafhængigt spejder-medie.
    Dette er endnu et resultat af vores samarbejde.
</p>
<p>
    spejd.io har for nylig skiftet format, og er derfor ikke længere at finde som en hjemmeside, men nu kun som <a href="https://www.facebook.com/spejdio/" target="_blank" rel="noopener">Facebook-side</a>.
</p>
<p>{% include maerkeIncludeAside.html maerke="stenlaendernes-hjemmespejd" %}</p>
<p>{% include maerkeIncludeAside.html maerke="balder-gruppe-hjemmespejd" %}</p>
<p>{% include maerkeIncludeAside.html maerke="flemming-spejdernes-hjemmespejderi" %}</p>
<p>{% include maerkeIncludeAside.html maerke="voerladegaard-hjemmespejd" %}</p>
<p>{% include maerkeIncludeAside.html maerke="coronamaerket" %}</p>
<p>{% include maerkeIncludeAside.html maerke="paaskespejd" %}</p>

<h1>Mangler vi at nævne noget?</h1>
<p>Vi prøver at følge med i hvad der sker på hjemmespejd-fronten, men vi har sikkert ikke alt med.</p>
<p>Du er meget velkommen til at skrive til os på <a href="mailto:kontakt@maerkelex.dk">kontakt@maerkelex.dk</a> hvis der er noget vi mangler at få med.</p>

<h1>Det Danske Spejderkorps skriver...</h1>
<p>
    Det Danske Spejderkorps har <a href="https://dds.dk/artikel/inspiration-til-hjemmespejd" target="_blank" rel="noopener">skrevet en artikel med eksempler på Hjemmespejd</a>, for at inspirere grupper rundt omkring i Danmark.
    Vi har også de eksempler, de nævner, med i vores blog post her.
</p>

<h1>Se alle vores blog posts</h1>
<p>Hvis du vil se om du er gået glip af noget, kan du tjekke oversigten over <a href="/blog/">alle blog posts</a>, vi har skrevet.</p>
