---
title: Hvor køber jeg mærker på Spejdernes Lejr 2017?
image: maerker-spejdernes-lejr-2017.jpg
date: 2017-07-19
da_date: 19. juli 2017
---
<div style="padding: 15px; background: rgb(220,220,220); margin: 30px 0;">Spejdernes Lejr 2017 er slut, og derfor er siden her opdateret til ikke længere at indeholde kontaktinformation på mærkesælgerne.</div>

<figure>
    <a href="maerker-spejdernes-lejr-2017-full.jpg" target="noopener">
        <img src="maerker-spejdernes-lejr-2017.jpg" alt="blog image">
    </a>
    <figcaption>Klik på billedet for at forstørre.</figcaption>
</figure>
<p>
    På SL2017 samles 40.000 spejdere fra hele landet i Sønderborg, og det viser sig at være en rigtig god mulighed for at få købt nogle uofficielle mærker af dem der har lavet dem.
    Vi har samlet en liste over de mærker der kan købes rundt omkring på lejren, og hvor de kan købes.
    Det skulle gerne hjællpe dig med at planlægge en rute.
</p>
<p>
    Ud for hver overskrift er der et tal.
    Det kan I bruge til at finde afhentningsstedet på kortet ovenfor.
    For eksempel er Mærkelex markeret med tallet 1 på kortet.
</p>
<p>
    Der står ikke præcis hvor man køber mærket, for det kan jo være at sælgeren er på aktivitet, eller laver noget andet.
    Man kan ikke bare møde op og forvente at kunne købe et mærke.
    Kontakt sælgeren, hvis du er interesseret, og aftal nærmere.
</p>

<h2>Mærkelex (1)</h2>
<div class="badge-seller">
    <p>
        <strong>Afhentes:</strong> Kvartet Gladsaxesenderen i Tårnet<br>
        <strong>Betalingsmetoder:</strong> MobilePay<br>
        <strong>Pris:</strong> 20 kr/stk.
    </p>
    <div class="blog-badges">
        {% include maerkeIncludeAside.html maerke="overlevelsestur" %}
        {% include maerkeIncludeAside.html maerke="10-min-taarn" %}
    </div>
</div>

<h2>Sjovt, dumt, farligt (2)</h2>
<div class="badge-seller">
    <p>
        <strong>Afhentes:</strong> Broen, 242 &mdash; lige ved siden af Sct Bendts<br>
        <strong>Betalingsmetoder:</strong> MobilePay<br>
        <strong>Pris:</strong> 20 kr/stk.
    </p>
    <div class="blog-badges">
        {% include maerkeIncludeAside.html maerke="sjovt-dumt-farligt" %}
    </div>
</div>

<h2>Skovskidermærket (3)</h2>
<div class="badge-seller">
    <p>
        <strong>Afhentes:</strong> i Slottet i kvarteret Borgring hos Borupspejderne<br>
        <strong>Betalingsmetoder:</strong> MobilePay<br>
        <strong>Pris:</strong> 20 kr/stk.
    </p>
    <div class="blog-badges">
        {% include maerkeIncludeAside.html maerke="skovskider" %}
    </div>
</div>

<h2>Rungstedspejderne (4)</h2>
<div class="badge-seller">
    <p>
        <strong>Afhentes:</strong> i Slottet i kvarteret Hirscholm hos Rungstedspejderne<br>
        <strong>Betalingsmetoder:</strong> MobilePay<br>
        <strong>Pris:</strong> 30 kr/stk.
    </p>
    <div class="blog-badges">
        {% include maerkeIncludeAside.html maerke="24-timer-i-sovepose" %}
        {% include maerkeIncludeAside.html maerke="kollekolle" %}
    </div>
</div>

<h2>Herfølgespejderne (5)</h2>
<div class="badge-seller">
    <p>
        <strong>Afhentes:</strong> i Slottet i kvarteret Borgring<br>
        <strong>Betalingsmetoder:</strong> MobilePay, bankoverførsler, PayPal<br>
        <strong>Pris:</strong> 25 kr/stk.
    </p>
    <div class="blog-badges">
        {% include maerkeIncludeAside.html maerke="bacon" %}
    </div>
</div>

<h2>100 km < 24 h (6)</h2>
<div class="badge-seller">
    <p>
        <strong>Afhentes:</strong> i Møllen i kvarteret Egeskov mølle hos KFUM spejderne i Ringe<br>
        <strong>Betalingsmetoder:</strong> MobilePay<br>
        <strong>Pris:</strong> 25 kr/stk.
    </p>
    <div class="blog-badges">
        {% include maerkeIncludeAside.html maerke="100km-24h" %}
    </div>
</div>

<h2>Balder Asnæs (7)</h2>
<div class="badge-seller">
    <p>
        <strong>Afhentes:</strong> i Tårnet i kvarteret Vandtårnet<br>
        <strong>Betalingsmetoder:</strong> MobilePay<br>
        <strong>Pris:</strong> 26 kr/stk. for Robust Borger, 35 kr. for et sæt (3 mærker) af Knotnut.
    </p>
    <div class="blog-badges">
        {% include maerkeIncludeAside.html maerke="robust-borger" %}
        {% include maerkeIncludeAside.html maerke="knotnut" %}
    </div>
</div>

<h2>Platform (8)</h2>
<div class="badge-seller">
    <p>
        <strong>Afhentes:</strong> i Møllen i kvarteret Egeskov mølle<br>
        <strong>Betalingsmetoder:</strong> MobilePay<br>
        <strong>Pris:</strong> 25 kr/stk.
    </p>
    <div class="blog-badges">
        {% include maerkeIncludeAside.html maerke="platform" %}
    </div>
</div>

<h2>Sigrid Wille (9)</h2>
<div class="badge-seller">
    <p>
        <strong>Afhentes:</strong> i Tårnet i kvarteret Blåvand Fyr/Varde kommune<br>
        <strong>Betalingsmetoder:</strong> MobilePay, kontant, bankoverførsler<br>
        <strong>Pris:</strong> 20 kr/stk. &mdash; undtagen 24 timer, der koster 25 kr/stk.
    </p>
    <div class="blog-badges">
        {% include maerkeIncludeAside.html maerke="flagmaerket" %}
        {% include maerkeIncludeAside.html maerke="baglaens" %}
        {% include maerkeIncludeAside.html maerke="24-timer" %}
        {% include maerkeIncludeAside.html maerke="koekkenhold" %}
    </div>
</div>

<h2>DGP Søndersø gruppe (10)</h2>
<div class="badge-seller">
    <p>
        <strong>Afhentes:</strong> i Broen i kvarteret Alles Bro<br>
        <strong>Betalingsmetoder:</strong> MobilePay<br>
        <strong>Pris:</strong> 20 kr/stk.
    </p>
    <div class="blog-badges">
        {% include maerkeIncludeAside.html maerke="baalvogter" %}
    </div>
</div>

<h2>Skarridsø Gruppe (11)</h2>
<div class="badge-seller">
    <p>
        <strong>Afhentes:</strong> i kvarteret Vandtårnet i Tårnet<br>
        <strong>Betalingsmetoder:</strong> MobilePay<br>
        <strong>Pris:</strong> 20 kr/stk.
    </p>
    <div class="blog-badges">
        {% include maerkeIncludeAside.html maerke="baalmad" %}
        {% include maerkeIncludeAside.html maerke="hjaelpermaerke" %}
        {% include maerkeIncludeAside.html maerke="baalbroed" %}
    </div>
</div>

<h2>Skirtymærket (12)</h2>
<div class="badge-seller">
    <p>
        <strong>Afhentes:</strong> i kvarteret Det Midtsjællandske Brofællesskab I/S i Broen<br>
        <strong>Betalingsmetoder:</strong> MobilePay<br>
        <strong>Pris:</strong> 20 kr/stk.
    </p>
    <div class="blog-badges">
        {% include maerkeIncludeAside.html maerke="skirty" %}
    </div>
</div>
<br>
<p>
    Vi håber at I får nogle gode oplevelser på lejren &mdash; også nogle med mærker involveret.
</p>
<p>
    Spejderhilsen,<br>
    Niels og Anders fra Mærkelex
</p>
