<footer>
  <div class="container">
    <div class="footer-col">
      <span>&copy; Mærkelex ApS 2016-2025 - CVR 37699799</span><br>
      <a href="/hvem-er/">Hvem er Mærkelex?</a>&#8226;
      <a href="/avanceret/">Avanceret søgning</a><i class="dot">&#8226;</i>
      <a href="/blog/">Blog</a>&#8226;
      <a href="/faq/">FAQ</a>&#8226;
      <a href="/shop/">Shop</a><i class="dot">&#8226;</i>
      <a target="noopener" href="https://www.facebook.com/maerkelex/">Facebook</a>&#8226;
      <a href="/kontakt/">Kontakt</a><i class="dot">&#8226;</i>
      <a href="/privatliv/">Privatlivspolitik</a>
    </div>
  </div>
</footer>
