<header id="header" data-turbo-permanent>
  <div class="container">
    <a href="{{ site.baseurl }}/" class="logo">
      <img src="{{ site.baseurl }}/img/logo.svg" alt="mærkelex logo">
    </a>
    <div class="searchbar">
      <form method="get">
        <label aria-label="searchbar"><input type="text" name="search" placeholder="Søg ..."></label>
        <a class="clear clear-button">
            <img src="{{ site.baseurl }}/img/cross.svg" alt="clear button">
          </a>
        <button class="search-button" type="submit">
            <img src="{{ site.baseurl }}/img/search.svg" alt="search button">
          </button>
      </form>
    </div>
    <script>
      var searchData = null;
      var rawSearch = null;
      var onSearchListeners = [];

      var search = debounced(function(recovery) {
        if (!rawSearch || !searchData) {
          console.log("Missing either rawSearch or searchData to perform search");
          return search(recovery);
        }
        rawSearch(recovery);
      });

      var searchBar = document.querySelector(".searchbar input");

      var searchBarHasFocus = false;

      searchBar.addEventListener("focus", function(e) {
        searchBarHasFocus = true;
      });

      searchBar.addEventListener("blur", function(e) {
        setTimeout(function() {
          searchBarHasFocus = false;
        }, 10);
      });

      searchBar.addEventListener("keyup", function(e) {
        search();
      });

      var searchBarHadFocusAtMouseDown = false;

      document.querySelector(".searchbar .search-button").addEventListener("mousedown", function(e) {
        searchBarHadFocusAtMouseDown = searchBarHasFocus;
      });

      document.querySelector(".searchbar .search-button").addEventListener("click", function(e) {
        e.preventDefault();
        if (searchBarHadFocusAtMouseDown || searchBarHasFocus) {
          searchBarHadFocusAtMouseDown = false;
          searchBar.blur();
          document.querySelector("main").scrollIntoView();
          return true;
        }
        searchBar.focus();
        return true;
      });

      (function getSearchValueFromQuery() {
        if (!location.search) {
          return searchBar.value = "";
        }

        var results = /[\?&]search=([^&#]*)/.exec(location.search);
        if (!results) {
          return searchBar.value = "";
        }

        var searchString = results[1];
        if (typeof searchString != "string") {
          return searchBar.value = "";
        }

        searchString = decodeURIComponent(searchString);

        searchBar.focus();
        searchBar.value = searchString;
        search(true);
      })();

      history.replaceState({
        maerkelex: true
      }, "Mærkelex");

      window.onpopstate = function(event) {
        if (!event.state) {
          return;
        }
        if (!event.state.maerkelex) {
          return;
        }
        if (typeof event.state.search != "string") {
          return window.location.reload();
        }
        if (searchBar.value == event.state.search) {
          return;
        }
        searchBar.value = event.state.search;
        search(true);
      };

      var clearIcon = document.querySelector(".searchbar .clear");

      clearIcon.addEventListener("click", function(e) {
        searchBar.value = "";
        search();
        ga("send", "event", "SearchBar", "clear");
      });

      document.addEventListener("keypress", function(e) {
        if (e.which != 115) {
          return;
        }
        var currentElementType = document.activeElement.tagName.toLowerCase();
        if (currentElementType == "input" || currentElementType == "textarea") {
          return;
        }
        e.preventDefault();
        searchBar.focus();
        document.querySelector("header").scrollIntoView();
        ga("send", "event", "KeyboardShortcut", "search", "pressed:S");
        return true;
      });
    </script>
  </div>

  <nav>
    <div class="nav-container">
      <a href="/shop/">Shop</a>
      <a href="/kurv/">Kurv<span data-cart-count-maybe></span></a>
      <a href="/nyeste-maerker/">Nyeste Mærker</a>
      <a href="/blog/">Blog</a>
      <a href="/faq/">FAQ</a>
      <a href="/hvem-er/">Om Mærkelex</a>
      <a href="/avanceret/">Avanceret søgning</a>
      <a href="/prisberegner/">Sælg mærker</a>
      <a href="/kontakt/">Kontakt</a>
    </div>
  </nav>
</header>

<script>
  owbs.bind('cart', '[data-cart-count-maybe]', (cart) => {
    const count = cart
      .map((item) => item.count)
      .reduce((a, b) => a + b, 0);

    if(count > 0) {
      return ` (${count})`;
    }
    return "";
  });
</script>
