<div class="maerke-col">
  <div class="maerke-box">
    <a class="maerke-link" href="{{ site.baseurl }}{{ m.url }}">
      <div class="maerke-info">
        <div class="maerke-corps {{m.tags.first}}">
          {{m.tags.first}}
        </div>
        <div class="maerke-age">
          {% if m.age %}
            {{m.age}} år
          {% else %}
            Alle aldre
          {% endif %}
          </div>
      </div>
      <img src="{{ site.baseurl }}/img/{{ m.image }}" />
      <div class="card-content">
        <h3>{{ m.name }}</h3>
      </div>
    </a>
    <a href="{{ site.baseurl }}{{ m.url }}">
    <div class="card-link">
      Læs Mere
    </div>
    </a>
  </div>
</div>
