<div class="badge{% if m_highlight_class %} highlight-{{ m_highlight_class }}{% endif %}{% if m_purchasable %} {{ m_purchasable }}{% endif %}">
  <a class="badge-link" href="{{ site.baseurl }}{{ m_url }}">
    <div class="badge-info">
      <div class="badge-corps {{ m_first_tag }}">
        {{ m_first_tag }}
      </div>
      <div class="badge-age">
        {{ m_age }}
      </div>
    </div>
    <div>
    <img class="badge-image" src="{{ site.baseurl }}/img/compressed/{{ m_image }}" alt="{{ m_name | remove: '&#173;' }} spejdermærke">
  </div>
    <p class="badge-title">
      {{ m_name }}
    </p>
    <div class="badge-cta">
      {% if m_highlight_text %}
        {{ m_highlight_text }}
      {% else %}
        Læs mere
      {% endif %}
    </div>
  </a>
</div>
