<div class="maerke-col">
  <div class="maerke-box{% if m_highlight_class %} highlight-{{ m_highlight_class }}{% endif %}{% if m_purchasable %} {{ m_purchasable }}{% endif %}">
    <a class="maerke-link" href="{{ site.baseurl }}{{ m_url }}">
      <div class="maerke-info">
        <div class="maerke-corps {{ m_first_tag }}">
          {{ m_first_tag }}
        </div>
        <div class="maerke-age">
          {{ m_age }}
        </div>
      </div>
      <img src="{{ site.baseurl }}/img/compressed/{{ m_image }}" alt="{{ m_name | remove: '&#173;' }} spejdermærke" />
      <div class="card-content">
        <h3>{{ m_name }}</h3>
      </div>
    </a>
    <a href="{{ site.baseurl }}{{ m_url }}">
    <div class="card-link">
      {% if m_highlight_text %}
        {{ m_highlight_text }}
      {% else %}
        Læs mere
      {% endif %}
    </div>
    </a>
  </div>
</div>
