{% assign this_m = site.m | first %}
{% for m in site.m %}
    {% assign cur_id = m.id | remove_first: "/m/" %}
    {% if cur_id == include.maerke %}
    {% assign this_m = m %}
    {% endif %}
{% endfor %}
{% capture m_age %}{% if this_m.age %}{{ this_m.age }} år{% else %}Alle aldre{% endif %}{% endcapture %}
{% if this_m.price != null %}
    {% assign m_purchasable = "purchasable" %}
    {% assign m_highlight_text = "<strong>Køb for " | append: this_m.price | append: " kr</strong>" %}
{% elsif this_m.highlight == "popular" %}
    {% assign m_highlight_text = "Mest populære!" %}
{% elsif this_m.highlight == "new" %}
    {% assign m_highlight_text = "Nyhed!" %}
{% else %}
    {% assign m_highlight_text = false %}
{% endif %}

<div class="badge{% if m_highlight_class %} highlight-{{ m_highlight_class }}{% endif %}{% if m_purchasable %} {{ m_purchasable }}{% endif %}">
  <a class="badge-link" href="{{ site.baseurl }}{{ m_url }}">
    <div class="badge-info">
      <div class="badge-corps {{ this_m.tags | first }}">
        {{ this_m.tags | first }}
      </div>
      <div class="badge-age">
        {{ this_m.age }}
      </div>
    </div>
    <div>
      <img class="badge-image" src="{{ site.baseurl }}/img/compressed/{{ this_m.image }}" alt="{{ this_m.name | remove: '&#173;' }} spejdermærke">
    </div>
    <p class="badge-title">
      {{ this_m.name }}
    </p>
    <div class="badge-cta">
      {% if this_m.highlight_text %}
        {{ this_m.highlight_text }}
      {% else %}
        Læs mere
      {% endif %}
    </div>
  </a>
</div>
