<form class="purchase-form" id="order-form" method="post" action="{{ site.paymentsSiteUrl }}">
  <h2>Køb {{page.name}} mærke</h2>
  <input type="hidden" name="return-url" value="http://xn--mrkelex-mxa.dk{{ page.url }}" id="return-url" />
  <input type="hidden" name="badge" value="{{ page.id | remove_first: "/m/" }}"> {% if page.preorder %}
  <div class="preorder-part">
    Denne bestilling er en forudbestilling. Det betyder at vi køber mærker ind baseret på hvor mange mærker der
    bestilles. Vi har altså ikke mærkerne på lager, og der kan gå op til 4 måneder med levering, afhængig af vores
    leverandørs produktionstid.
    <br /><br />
    Ved forudbestillinger hæver vi pengene når du gennemfører købet, da det fungerer som en produktion til bestilling.
    Du modtager en ordrebekræftigelse med det samme.
  </div>
  {% endif %}
  <div class="order-part" data-order-content>
    <h3>Vælg antal</h3>
    <label for="count">
      <input class="count-preview" type="number" name="count" value="1" id="count" />
      mærke(r) til {{ page.price }} kr stk =
      <strong class="total-preview"><span class="total-preview-price">{{ page.price }}</span> kr</strong>
      <div class="input-error-message input-error-message-hidden"></div>
    </label>
    <script>
      var countPreview = document.querySelector(".count-preview");
      var totalPreview = document.querySelector(".total-preview-price");
      var badgePrice = {{ page.price }};

      document.getElementById("count").addEventListener("change", function() {
          if(this.value < 1) {
              this.value = 1;
          }

          countPreview.innerHTML = this.value;
          totalPreview.innerHTML = this.value * badgePrice;
      });

      var buyButton = document.querySelector("[data-action-buy]");
      if(buyButton) {
        buyButton.addEventListener("click", function() {
            document.querySelector('#order-form').scrollIntoView({
                behavior: 'smooth',
                block: "start",
                inline: "nearest"
            });
        });
      }
    </script>
  </div>
  <div class="btn-container" data-order-content>
    <button class="btn buylink" id="buy-now">
      {% if page.preorder %}Forudbestil{% else %}Bestil{% endif %} mærke nu
    </button>
    <button id="add-to-cart" class="btn btn--icon btn--icon-shop">
      Put mærke i kurv
    </button>
  </div>
  <div class="hide" data-added-to-cart-ui>
    <p>Dine mærker tilføjet til kurven.</p>
    <div class="btn-container">
      <a href="/shop/" class="btn btn--fullsize">
        Shop videre
      </a>
      <a href="/kurv/" class="btn btn--fullsize">
        Gå til kurv
      </a>
    </div>
  </div>
</form>
<script>
  (function () {
    const badgeId = "{{ page.id | remove_first: "/m/" }}";
    const form = document.getElementById("order-form");
    const addToCartButton = document.getElementById("add-to-cart");
    const buyNowButton = document.getElementById("buy-now");
    const orderBadgeUi = document.querySelectorAll("[data-order-content");
    const addedToCartUi = document.querySelector("[data-added-to-cart-ui]");

    // Show user if current badge is in cart on pageload.
    checkIfBadgeIsCart();

    function fetchCart() {
      const localStorageCart = localStorage.getItem("cart");
      if (localStorageCart && JSON.parse(localStorageCart)) {
        return JSON.parse(localStorageCart);
      }
      return [];
    }

    function checkIfBadgeIsCart() {
      const cart = fetchCart();
      const badgeAlreadyInCart = cart.find((data) => data.id === badgeId);
      if (badgeAlreadyInCart) {
        showBadgeInCartUi();
      }
    }

    function addBadgeToCart() {
      let badge = {
        count: form.count.value,
        id: badgeId,
        name: "{{ page.name }}",
        image: "{{ page.image }}",
      };
      let cart = fetchCart();
      cart.push(badge);
      localStorage.setItem("cart", JSON.stringify(cart));
      console.warn("Badge pushed to cart. Current cart:", cart);
    }

    function showBadgeInCartUi() {
      orderBadgeUi.forEach((element) => {
        element.classList.add("hide");
      });
      addedToCartUi.classList.remove("hide");
    }

    addToCartButton.addEventListener("click", function (event) {
      event.preventDefault();
      addBadgeToCart();
      showBadgeInCartUi();
    });

    buyNowButton.addEventListener("click", function (event) {
      event.preventDefault();
      addBadgeToCart();
      location.href = "/kurv/";
    });
  })();
</script>
