.advanced-search-container {
  padding-bottom: 100px;
}

.advanced-search-setting-box input {
  padding: 10px;
  font-size: 1em;
}

.advanced-search-tags {
  margin-top: 30px;
  text-align: justify;
}

@media(max-width: 930px) {
  .advanced-search-tags {
    text-align: left;
  }
}

.ageInput {
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
}

.ageInput label {
  cursor: pointer;
}

#ageInputContainer {
  display: none;
}

.advanced-search-divider {
  margin: 40px 0;
}

.index-label {
  margin-right: 10px;
}

.advanced-search-divider button {
  background: $blue;
  color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 1.2em;
  padding: 10px 30px;
}

.advanced-search-divider button:hover {
  background: $darkblue;
}

.advanced-search-result {
  position: fixed;
  bottom: 0px;
  background: white;
  width: 100%;
  padding: 20px;
  left: 0;
  box-sizing: border-box;
  border-top: 1px solid;
}

.advanced-search-result-container {
  max-width: 900px;
  margin: 0 auto;
}

.advanced-search-result p {
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.2em;
}

.checkbox {
  width: 20px;
  position: relative;
  display: inline;
  margin-right: 5px;
  label {
    border: 1px solid;
    background: #fff;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 3px solid #000;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }
}
