.maerke-col {
    box-sizing: border-box;
    display: inline-block;
    width: 33.33333%;
    padding: 0 5px;
    float: left;
    margin-bottom: 10px;

    @media screen and (max-width: $small) {
        width: 50%;
    }
}

.maerke-box {
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 0 4px rgba(0,0,0,0.2), 0 0 10px rgba(255, 255, 255, 1) inset;
    background-color: white;
    color: inherit;
    text-decoration: inherit;
    overflow: hidden;
    transition: transform 0.2s;
    position: relative;
    display: block;
    padding-top: 10px;

    a {
        text-decoration: none;
    }
  
    img {
        height: 200px;
        max-width: 100%;
        margin: 0 auto;
        display: block;
        transition: all 0.2s ease;
        
        &:hover {
            transform:scale(1.1);
        }

        @media screen and (max-width: $small) {
            height: 40vw;
        }
    }
  
    .card-content {
        position: relative;
        height: 50px;
        text-align: center;
        
        h3 {
            font-size: 1.2em;
            font-weight: 600;
            box-sizing: border-box;
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 0 10px;

            @media screen and (max-width: $small) {
                font-size: 0.9rem;
                text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
                margin-bottom: 10px;
            }
        }
    }
  
    .maerke-link {
        color: inherit;
        text-decoration: inherit;
    }
  
    .maerke-info {
        position: absolute;
        right: 0;
        z-index: 2;
        color: #fafafa;
        margin-right: 10px;

        @media screen and (max-width: $small) {
            position: static;
            margin-right: 1vw;
            margin-left: 1vw;
        }
    }

    .maerke-age,
    .maerke-corps {
        padding: 5px;
        font-size: 0.8em;
        padding: 5px 8px;
        font-weight: bold;
        transition: background 0.2s;
        border-radius: 3px;
        margin-bottom: 5px;
        text-align: center;
        box-sizing: border-box;
        border: 1px;
        border-style: solid;
        background-color: #fff;
        background-color: rgba(255,255,255,0.95);
        position: relative;
        z-index: 3;
  
        @media screen and (max-width: $small) {
          margin: 0 1vw;
          width: 45%;
          display: inline-block;
          float: left;
          font-size: 2.8vw;
          padding: 0.67vw 1.07vw;
        }
    }
  
    .maerke-corps {
      text-transform: capitalize;
      color: gray;
      border-color: gray;
  
      &.DDS {
        border-color: #003466;
        color: #003466;
      }
  
      &.DGP {
        border-color: #005723;
        color: #005723;
      }
  
      &.KFUM {
        border-color: #006649;
        color: #006649;
      }
    }
  
    .maerke-age {
      color: $blue;
      border-color: $blue;
    }

    .card-link {
        border-top: 1px solid rgba(160,160,160,0.2);
        padding: 10px;
        text-align: center;

        a {
            text-transform: uppercase;
            font-size: 15px;
            text-decoration: none;
        }
    }

    &.highlight-popular {
        box-shadow: 1px 0 0px $orange, -1px 0 0 $orange, -1px -1px 0 $orange, 1px -1px 0 $orange, 0 0 13px $orange;
        overflow: hidden;

        .card-link {
            background: $orange;
            color: white;
        }
    }
  
    &.highlight-new {
        box-shadow: 1px 0 0px $green, -1px 0 0 $green, -1px -1px 0 $green, 1px -1px 0 $green, 0 0 13px $green;
        overflow: hidden;

        .card-link {
            background: $green;
            color: white;
        }
    }

    &.purchasable {
        .card-link {
            background: $blue;
            color: white;
        }
    }
}