$grey--dark: darken($grey--light, 40%);

.maerke-col {
  box-sizing: border-box;
  width: 33.33333%;
  padding: 0 5px;
  margin-bottom: 10px;

  @media screen and (max-width: $mobile) {
    width: 50%;
  }
}

.maerke-box {
  width: 100%;
  background-color: white;
  color: inherit;
  text-decoration: inherit;
  overflow: hidden;
  transition: all 0.3s ease-out;
  position: relative;
  display: block;
  padding-top: 10px;
  border: 1px solid $grey--light;
  border-radius: $rounding--small;

  .maerke-link {
    color: inherit;
    text-decoration: inherit;
  }

  img {
    height: 200px;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    transition: all 0.2s ease;
  
    @media screen and (max-width: $mobile) {
      height: 40vw;
      margin-top: 6vw;
    }
  }

  .maerke-info {
    box-sizing: border-box;
    position: absolute;
    right: 0;
    z-index: 2;
    color: #fafafa;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    @media screen and (max-width: $mobile) {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding: 0 8px;
    }

    div {
      padding: 5px;
      font-size: 0.8em;
      padding: 5px 12px;
      font-weight: 600;
      transition: background 0.2s;
      border-radius: $rounding--large;
      margin-bottom: 5px;
      text-align: center;
      box-sizing: border-box;
      border: 1px;
      border-style: solid;
      background-color: #fff;
      background-color: rgba(255,255,255,0.95);
      position: relative;
      z-index: 3;
    
      @media screen and (max-width: $mobile) {
        margin: 0 1vw;
        font-size: 2.8vw;
        padding: 0.67vw 1.07vw;
      }
    }
  }

  .maerke-age {
    color: $blue;
    border-color: $blue;
  
    @media screen and (max-width: $mobile) {
      width: calc(43% - 2px);
    }
  }

  .maerke-corps {
    text-transform: capitalize;
    color: gray;
    border-color: gray;
  
    @media screen and (max-width: $mobile) {
      width: calc(57% - 2px);
    }
  
    img {
      height: 100%;
    }
  
    &.DDS {
      border-color: #003466;
      color: #003466;
    }
  
    &.pigespejdere {
      border-color: #005723;
      color: #005723;
    }
  
    &.KFUM-Spejderne {
      border-color: #006649;
      color: #006649;
    }
  }

  .card-content {
    position: relative;
    height: 50px;
    text-align: center;

    h3 {
      font-size: 1.2em;
      font-weight: 600;
      box-sizing: border-box;
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 0 10px;

      @media screen and (max-width: $mobile) {
        font-size: 0.9rem;
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
        margin-bottom: 10px;
      }
    }
  }

  a {
    text-decoration: none;
  }

  .card-link {
    border-top: 1px solid rgba(160,160,160,0.2);
    padding: 10px;
    text-align: center;
    transition: all 0.3s;

    a {
      text-transform: uppercase;
      font-size: 15px;
      text-decoration: none;
    }
  }

  &.highlight-popular {
    border-color: $orange;
    overflow: hidden;

    .card-link {
      background: $orange;
      border-color: $orange;
      color: white;
    }
  }
  
  &.highlight-new {
    border-color: $green;
    overflow: hidden;

    .card-link {
      background: $green;
      border-color: $green;
      color: white;
    }
  }

  &.purchasable {
    border-color: $blue;

    .card-link {
      background: $blue;
      border-color: $blue;
      color: white;
      
    }
  }

  // hover effects
  &:hover {
    border-color: $grey--dark;

    img {
      transform: scale(1.1);
    }

    .card-link {
      border-color: $grey--dark;
    }

    &.highlight-popular {
      border-color: $orange--light;
  
      .card-link {
        background: $orange--light;
        border-color: $orange--light;
      }
    }

    &.highlight-new {
      border-color: $green--light;
  
      .card-link {
        background: $green--light;
        border-color: $green--light;
      }
    }

    &.purchasable {
      border-color: $blue--light;
  
      .card-link {
        background: $blue--light;
        border-color: $blue--light;
      }
    }
  }
}