.cover {
  width: 100%;
  height: 380px;
  position: absolute;
  left: 0;
  top: 65px;
  overflow: hidden;

  @media screen and (max-width: $small) {
    top: 63px;
    height: 300px
  }

  .cover-img {
    width: 105%;
    height: 390px;
    background-image: url("../img/covers/cover.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    margin-left: -10px;
    margin-top: -8px;
  }
}

.main-maerke-content {
  margin-top: 70px;
  position: relative;

  @media screen and (max-width: $small) {
    margin-top: 0px;
  }
}

.col {
  box-sizing: border-box;
  padding: 0 10px;

  @media screen and (max-width: $small) {
    width: 100% !important;
    padding: 0 10px 10px;
  }

  iframe {
    width: 100%;
    height: 268px;

    @media(max-width: $mobile) {
      height: 185px;
    }
  }

  figure {
    background: white;
    margin: 0;
    padding: 10px;
    text-align: center;

    img {
      max-height: 400px;
    }

    figcaption {
      font-size: 0.8em;
      text-align: left;

      .figure__license {
        font-size: 0.9em;
        color: rgba(0,0,0,0.4);
      }
    }
  }
}

.page-image {
  float: left;
  width: 40%;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  box-sizing: border-box;

  img {
    max-width: 100%;
    height: 300px;
    border: 7px solid rgb(245, 245, 245);
    box-sizing: border-box;

    @media screen and (max-width: $small) {
      height: auto;
    }
  }
}

.page-description {
  width: 60%;
  display: inline-block;
  margin-top: 50px;

  @media screen and (max-width: $small) {
    margin-top: 0px;
  }

  h1 {
    font-weight: 400;
    background-color: whitesmoke;
    padding: 8px 20px;
    display: inline-block;

    @media screen and (max-width: $small) {
      margin: 0;
      display: block;
      text-align: center;
    }

    @media screen and (max-width: $mobile){
      padding: 8px 0px;
    }
  }
}

.page-description-color {
  background-color: rgb(245, 245, 245);
  padding: 20px;

  @media screen and (max-width: $mobile){
    padding: 0px;
  }
}

.page-description .age {
  margin-top: 5px;
  font-weight: bold;
}

.page-description ul em {
  font-weight: 100;
}

.page-description .btn {
  width: 100%;
}

.page-description .infolink {
  background: $orange;

  &:hover {
    background: $darkorange;
  }
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  @media screen and (max-width: $small) {
    flex-direction: column;;
  }
}

.btn+.btn {
  margin-left: 10px;

  @media screen and (max-width: $small) {
    margin-left: 0;
    margin-top: 10px;
  }
}