// Frontpage stuff
.blog-section {
  background: darken($grey--body, 10%);
  padding: 40px 0;
}

.blog-section__title,
.blog-section__content {
  margin-top: 0;
}

.blog-section__content {
  padding: 0 5px;
}

// Blog cards for both blog and frontpage
.blog-card {
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 0 4px rgba(0,0,0,0.2), 0 0 10px rgba(255, 255, 255, 1) inset;
  border-radius: 4px;
  margin-bottom: 20px;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 0 4px $blue, 0 0 10px rgba(255, 255, 255, 1) inset;
  }

  * {
    box-sizing: border-box;
  }

  .blog-card__link {
    display: flex;
    color: $font-color;
    text-decoration: none;

    @media(max-width: $mobile) {
      flex-direction: column;
    }
  }

  .blog-card__image {
    width: 60%;
    min-height: 240px;
    background-color: #a7c7dc;
    background-size: cover;
    background-position: center;
    border-radius: 4px 0 0 4px;

    @media(max-width: $mobile) {
      width: 100%;
      height: 50vw;
      min-height: 0;
    }
  }

  &.blog-card--imageless {
    .blog-card__image {
      display: none;
    }
  }

  .blog-card__description {
    width: 40%;
    padding: 20px;

    @media(max-width: $mobile) {
      width: 100%;
    }
  }

  &.blog-card--imageless {
    .blog-card__description {
      width: 100%;
    }
  }

  .blog-card__date {
    margin: 0;
    font-size: 0.8em;
    font-style: italic;
  }

  .blog-card__title {
    margin-top: 0;
  }
}

