.cards-section {
    width: 100%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 100%;
    display: flex;
    padding: 10px 20px;
    margin-bottom: 10px;
    align-items: center;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    background-color: white;
    border: 1px solid $grey--light;
    border-radius: $rounding--small;

    &:hover {
        border-color: $grey--dark;
    }
}

.card--half {
    width: calc(50% - 5px);

    @media screen and (max-width: $small) {
        width: 100%;
    }
}

.card__logo {
    height: 50px;
    width: 50px;
    padding-right: 20px;
}

.card__description {
    padding: 10px;
}

.card__title {
    margin: 0;
}

.card__sub-title {
    margin: 0;
}