.content-col {
    width: 70%;
    float: left;
    padding-right: 25px;
}
.content-col h1 {
    font-size: 2.3em;
    font-family: 'Open Sans Light', 'Open Sans', sans-serif;
    font-weight: 200;
}
.content-col h2 {
    font-size: 1.2em;
    margin-top: 30px;
    margin-bottom: 0;
}
.content-col h1, .aside-col h1 {
    margin: 0;
}
.content-col p, .aside-col p {
    margin-top: 0;
    margin-bottom: 10px;
}
.content-col p {
    font-size: 19px;
    line-height: 1.58;
    @media(max-width: 767px) {
      font-size: 17px;
    }
}
.content-col img {
    width: 100%;
    margin: 10px 0;
    @media(max-width: 930px){
      width: 100%;
    }
}
.aside-col {
    width: 30%;
    float: left;
    font-size: 0.8em;
    padding-left: 10px;
    border-left: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 25px;
}

@media screen and (max-width: 930px) {
    .content-col {
        padding: 10px;
    }
    .content-col h1 {
        margin-top: 0;
    }
    .aside-col {
        border: none;
        padding: 10px;
        font-size: 1em;
    }
}
