@import "variables.scss";

.content-col {
    width: 70%;
    float: left;
    padding-right: 25px;
}

.content-col h1 {
    font-size: 2.3em;
    font-weight: 200;

    @media screen and (max-width: $small) {
        margin-top: 0;
    }
}

.content-col h2 {
    font-size: 1.4em;
    margin-top: 30px;
    margin-bottom: 5px;
    font-weight: 600;
}

.content-col h1,
.aside-col h1 {
    margin: 0;
    margin-bottom: 5px;
}

.content-col h3 {
  font-size: 1.4em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.content-col p, .aside-col p {
    margin-top: 0;
    margin-bottom: 10px;
}

.content-col p {
    font-size: 1.187em;
    line-height: 1.58;

    @media(max-width: $mobile) {
      font-size: 17px;
    }
}

.content-col section {
  margin: 30px 0;
  &:first-of-type {
    margin-top: 0;
  }
}

.content-col img {
    width: 100%;
    margin: 10px 0;
    @media(max-width: $small){
      width: 100%;
    }
}

.content-col figcaption {
  margin-top: -5px;
  font-size: 0.8em;
  text-align: center;
}

.aside-col {
    width: 30%;
    float: left;
    font-size: 0.8em;
    padding-left: 10px;
    border-left: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 25px;

    @media screen and (max-width: $small) {
        border: none;
        padding: 10px;
        font-size: 1em;
    }

    .maerke-box {
        margin: 10% 5% 5%;
        width: 90%;
    }
}

.badge-seller {
    font-size:0.9em;
    background:white;
    padding:10px;
}

.blog-badges {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    @media(max-width: $small) {
        justify-content: space-around;
    }

    .maerke-box {
        flex-basis: 170px;
        flex-grow: 0;
        flex-shrink: 1;
        margin: 10px;

        @media(max-width: $small) {
            flex-basis: 45%;
            margin: 0;
        }
    }

    img {
        width: auto;
        height: auto;
        margin: 0 auto;
    }
}
