.cookieNotice {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: transparentize($dark, 0.2);
    color: white;
    font-size: 0.7em;
    padding: 10px 10px;
    cursor: pointer;
    transition: bottom 1.5s;
    z-index: 3000;
    box-sizing: border-box;
}
.cookieNotice.hidden {
    bottom: -400px;
}
