.contact-info {
    padding: 3px 0;
    display: block;
    color: #aaaabb;
    text-decoration: none;
    transition: color 0.2s;
}
.contact-info:hover {
    color: black;
}
.contact-info:before {
    content: ' ';
    width: 20px;
    height: 14px;
    vertical-align: middle;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 2px;
}
.contact-info-email:before {
    background-image: url('/img/envelope.svg');
}
.contact-info-facebook:before {
    background-image: url('/img/facebook.png');
}

@media screen and (max-width: 930px) {
    .contact-info {
        padding: 8px 0;
    }
}
