footer {
    background: $dark;
    font-size: 0.8em;
    margin-top: 20px;
    padding: 15px 0;
    color: white;
    text-align: center;
}
.footer-col {
  text-align: center;
}
.footer-col.small {
    font-size: 0.8em;
}
.footer-col span {
  font-size: 1.2em;
  margin-right: 7px;
  display: inline-block;
}
.footer-col a {
  text-align: left;
  display: inline-block;
  font-size: 1.2em;
  text-decoration: none;
  margin: 0 7px;
}
.footer-col img {
  width: 50px;
  float: right;
}
footer a {
    color: rgb(200, 200, 200);
}
footer a:hover {
    color: rgb(250, 250, 250);
}
footer .copyright {
  text-align: center;
  margin-top: 15px;
}

@media screen and (max-width: 930px) {
  .footer-col .dot {
    display: block;
    visibility: hidden;
    height: 1px;
  }
}
