$maerkeCardInContentHeight: 333px;

.maerke-card-in-content {
  height: $maerkeCardInContentHeight;
  display: flex;
  margin: 30px 0;

  @media(min-width: $mobile) {
    background: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 0 10px white inset;
  }

  .maerke-box-in-content {
    height: $maerkeCardInContentHeight;
    width: 220px;
    flex-shrink: 0;
    box-sizing: border-box;
  }

  .maerke-description-in-content {
    height: 100%;
    overflow: hidden;
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 220px;
    font-size: 0.75em;
    box-sizing: border-box;
    position: relative;

    .maerke-description-in-content-scroller {
      padding: 5px 15px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      transition: transform 2s;
    }
  }

  &:hover {
    .maerke-description-in-content {
      .maerke-description-in-content-scroller {
        transform: translateY(calc(-100% + 230px));
        transition: transform 20s;
      }
    }
  }
}

@media (max-width: $mobile) {
  .maerke-card-in-content {
    height: auto;
    justify-content: center;

    .maerke-box-in-content {
      height: auto;
      width: auto;
    }

    .maerke-description-in-content {
      display: none;
    }
  }
}
