.sponsored-badges {
    background: $dark;
    padding: 8px 15px;
    height: 340px;
    margin-bottom: 40px;
}
.sponsor-message {
    color: white;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: bold;
    padding: 20px 6px;
}
.sponsor-message a {
    color: inherit;
    text-decoration: inherit;
}
.sponsored-badges .card-link {
    display: none;
}
