// Viewport sizes:
$small: 930px;
$mobile: 600px;
$tiny: 460px;

// Colors:
$orange: rgb(251, 171, 68);
$orange--light: lighten($orange, 4%);
$darkorange: darken($orange, 15%);

$blue: rgb(8, 159, 218);
$blue--light: lighten($blue, 4%);
$darkblue: darken($blue, 15%);
$shadowonblue: rgb(11, 93, 125);

$green: #45BF55;
$green--light: lighten($green, 4%);

$dark: rgb(50, 50, 60);
$font-color: #212529;
$background-grey: rgb(245, 245, 245);
$grey--light: rgba(160,160,160,0.2);
$grey--dark: darken($grey--light, 40%);
$grey--body: rgb(245, 245, 245);

// Other styles
$rounding--small: 4px;
$rounding--large: 24px;

// Fonts:
$native-font:
  -apple-system, // Safari for OS X and iOS (San Francisco)
  BlinkMacSystemFont, // Chrome < 56 for OS X (San Francisco)
  "Segoe UI", // Windows
  "Roboto", // Android
  "Helvetica Neue", Arial, sans-serif, // Basic web fallback
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default; // Emoji fonts
$font-weight--bold: 600;
$font-weight--light: 300;