$small: 930px;
$mobile: 600px;
$orange: rgb(251, 171, 68);
$darkorange: darken($orange, 15%);
$blue: rgb(8, 159, 218);
$darkblue: darken($blue, 15%);
$shadowonblue: rgb(11, 93, 125);
$green: #45BF55;
$dark: rgb(50, 50, 60);
