<h1>Hjælp Spejderhjælpen</h1>
<p>
    Hvis du er interesseret i at hjælpe Spejderhjælpen med deres projekt, har de lavet en oversigt over materialer og inspiration til hvordan man som spejdergruppe kan blive engageret.
    <a href="https://www.spejderhjaelpen.dk/inspiration-og-materialer/" target="_blank" rel="noopener">Tjek den ud!</a>
</p>
<br>
<h1>Hvad tjener Mærkelex?</h1>
<p>
    Vi prøver at være meget gennemsigtige med vores prismodeller.
    Når folk licenserer deres mærker til os, tager vi en del af salgsprisen for at dække vores udgifter forbundet med mærkesalget.
    Du kan se hvordan det er skruet sammen <a href="/prisberegner">i vores prisberegner</a>.
</p>
<p>
    Det overskydende beløb &ndash; det der står i <em>Din profit</em> &ndash; er det, nogle sælgere har valgt at donere til Spejderhjælpen.
</p>
<br>
<h1>Se alle vores blog posts</h1>
<p>Hvis du vil se om du er gået glip af noget, kan du tjekke oversigten over <a href="/blog/">alle blog posts</a>, vi har skrevet.</p>
<br>
<h1>Har du spørgsmål?</h1>
<p>Hvis der er noget vi mangler at gøre helt klart, kan du skrive til os og få hjælp på <a href="mailto:kontakt@maerkelex.dk">kontakt@mærkelex.dk</a>.</p>
<br>
<h1>Mærker der støtter</h1>
<p>
    Her er nogle af mærkerne, der udløser en donation til Spejderhjælpen, når du køber dem.
</p>
<p>
    {% include 'maerkeIncludeAside.html' maerke="skirty" %}
</p>
<p>
    {% include 'maerkeIncludeAside.html' maerke="36-timer" %}
</p>
<p>
    {% include 'maerkeIncludeAside.html' maerke="madtropperne" %}
</p>
<p>
    {% include 'maerkeIncludeAside.html' maerke="skovskider" %}
</p>
