<h1>Hvad mangler Mærkelex?</h1>
<p>Sidder du med ideen til den der ene feature, vi ikke har, og som er helt oplagt?</p>
<p>Du er meget velkommen til at skrive til os på <a href="mailto:kontakt@maerkelex.dk">kontakt@mærkelex.dk</a>!</p>
<br>
<h1>Andre mærker, der kan inspirere dig</h1>
<p>{% include 'maerkeIncludeAside.html' maerke="10-min-taarn" %}</p>
<p>{% include 'maerkeIncludeAside.html' maerke="24-timer-i-sovepose" %}</p>
<br>
<h1>Sælg dit mærke gennem Mærkelex</h1>
<p>
    Når du engang har lavet dit mærke, skal det jo også sælges og distribueres.
    Nu kan man sælge mærker direkte gennem Mærkelex.
    Hvis du er interesseret, kan du læse mere i vores blog post <a href="/blog/saelg-paa-maerkelex">Sælg dit mærke direkte på Mærkelex</a> eller skrive til os direkte på <a href="mailto:kontakt@maerkelex.dk">kontakt@maerkelex.dk</a> hvis du er interesseret.
</p>
<h1>Se alle vores blog posts</h1>
<p>Hvis du vil se om du er gået glip af noget, kan du tjekke oversigten over <a href="/blog/">alle blog posts</a>, vi har skrevet.</p>
