<h1>Vil du sælge mærker direkte på Mærkelex?</h1>
<p>Vi starter langsomt op, men hvis du er interesseret, kan du kontakte os på <a href="mailto:kontakt@maerkelex.dk">kontakt@mærkelex.dk</a>, og så kan vi snakke om det.</p>
<br>
<h1>Få oversigt over økonomien i at sælge mærker</h1>
<p>Vi har sammensat en <a href="/prisberegner/">Prisberegner</a>, som du kan bruge til at få overblik over hvad det koster, og hvor meget man kan tjene, på at sælge mærker.</p>
<br>
<h1>Køb mærket Overlevelsestur lige nu</h1>
<p>
    {% include maerkeIncludeAside.html maerke="overlevelsestur" %}
</p>
<br>
<h1>Køb mærket 10-minutters-tårn lige nu</h1>
<p>
    {% include maerkeIncludeAside.html maerke="10-min-taarn" %}
</p>
<br>
<h1>Se alle vores blog posts</h1>
<p>Hvis du vil se om du er gået glip af noget, kan du tjekke oversigten over <a href="/blog/">alle blog posts</a>, vi har skrevet.</p>
