<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <title>Spejdermærker.dk</title>
        <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/img/logo.png">
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="{{ site.baseurl }}/">
                    <img src="{{ site.baseurl }}/img/logo.png">
                </a>
                <div class="searchbar">
                    <input type="text" placeholder="Søg ...">
                    <button>🔎</button>
                </div>
                <script>
                    var searchBar = document.querySelector(".searchbar input");
                    document.querySelector(".searchbar button").addEventListener("click", function(e) {
                        e.preventDefault();
                        searchBar.focus();
                        return true;
                    });
                </script>
                <script>
                    var search = debounced(rawSearch);

                    searchBar.addEventListener("keyup", function(e) {
                        search();
                    });

                    function debounced(fun, timeout) {
                        if(!timeout) {
                            timeout = 250;
                        }
                        var i = 0;
                        return function() {
                            var myI = ++i;
                            var args = Array.prototype.slice.call(arguments);
                            setTimeout(function() {
                                if(i > myI) {
                                    return;
                                }
                                fun.apply(fun, args);
                            }, timeout);
                        };
                    }

                    function rawSearch() {
                        var value = searchBar.value;
                        console.log("searching", value);
                    }
                </script>
            </nav>
        </header>
        <div class="container">
            <div class="content">
                {{content}}
            </div>
        </div>
        <footer>
            &copy; Spejdermærker.dk 2016
        </footer>
    </body>
</html>
