{% capture page_description %}{% if page.description %}{{ page.description | strip_html | replace:'"',"'" }}{% else %}Her kan du finde mærker (spejdermærker) for Det Danske Spejderkorps (DDS), KFUM eller De Grønne Pigespejdere, samt alle de uofficielle mærker der florerer i Danmark.{% endif %}{% endcapture %}
{% capture page_title %}{% if page.type == "maerke" %}{{ page.name }}{% else %}{{ page.title }}{% endif %} | Mærkelex{% endcapture %}
<!DOCTYPE html>
<html lang="da" prefix="og: http://ogp.me/ns#">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta name="trustpilot-one-time-domain-verification-id" content="tgRt4yhZqYVmDDHJZ5LS251Z03eSjNDsdDai2yLQ"/>
        <title>{{ page_title }}</title>
        <meta name="description" content="Mærkelex er et leksikon over spejdermærker. {{ page_description }}">

        <meta property="og:title" content="{{ page_title }}">
        <meta property="og:site_name" content="Mærkelex">
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://xn--mrkelex-mxa.dk{{ page.url }}">
        <meta property="og:image" content="http://xn--mrkelex-mxa.dk/img/{% if page.type == 'blogpost' %}blog/{{ page.image }}{% elsif page.image %}compressed/{{ page.image }}{% else %}fb-img.jpg{% endif %}">
        <meta property="og:description" content="{{ page_description }}">
        <meta property="og:locale" content="da_DK">

        <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/img/favicon.png">
        <link rel="shortcut icon" type="image/svg+xml" href="{{ site.baseurl }}/img/logo.svg">
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css">

        <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/favicon-16x16.png">
        <link rel="manifest" href="{{ site.baseurl }}/manifest.json">
        <link rel="mask-icon" href="{{ site.baseurl }}/safari-pinned-tab.svg" color="#fbab44">
        <meta name="apple-mobile-web-app-title" content="M&aelig;rkelex">
        <meta name="application-name" content="M&aelig;rkelex">
        <meta name="theme-color" content="#f5f5f5">
        <script src="{{ site.baseurl }}/js/raw-search.js" defer></script>
        <script src="{{ site.baseurl }}/js/header-scroll.js" defer></script>
        <script src="{{ site.baseurl }}/js/cookie.js" defer></script>
        <script>{% include owbs.min.js %}</script>
        <script>owbs.val.cart = owbs.val.cart || [];</script>
        <script src="https://unpkg.com/@hotwired/turbo@7.1.0/dist/turbo.es2017-esm.js" type="module" defer></script>
        <script>/* SERVICE WORKER */
            if(navigator.serviceWorker) {
                window.addEventListener("load", function() {
                    navigator.serviceWorker.register("/sw.js").then(function(registration) {
                        console.log("[sw.js] Registration with scope", registration.scope);
                    }, function(error) {
                        console.error("[sw.js] Registration failed", error);
                    });
                });
            }
        </script>
        <script>console.log("head scripts run");</script>
        <script>
            document.addEventListener('turbo:before-visit', (e) => console.log('turbo:before-visit', e));
            document.addEventListener('turbo:visit', (e) => {
                console.log('turbo:visit', e)
            });
            document.addEventListener('turbo:before-render', (e) => console.log('turbo:before-render', e));
            document.addEventListener('turbo:render', (e) => {
                console.log('turbo:render', e)
                setTimeout(() => {
                    window.scrollTo(0, 0);
                    console.log("didscroll(1)");
                }, 500);
            });
        </script>
        <script>
            function debounced(fun, timeout) {
                if(!timeout) {
                    timeout = 250;
                }
                var i = 0;
                return function() {
                    var myI = ++i;
                    var args = Array.prototype.slice.call(arguments);
                    setTimeout(function() {
                        if(i > myI) {
                            return;
                        }
                        fun.apply(fun, args);
                    }, timeout);
                };
            }
        </script>
    </head>
    <body ontouchstart="" class="{{ layout.bodyClass }}">
        {% include header.html %}
        <main>
            {{content}}
        </main>
        {% include footer.html %}
    </body>
</html>
