<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <title>Spejdermærker.dk</title>
        <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/img/logo.png">
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="{{ site.baseurl }}/">
                    <img src="{{ site.baseurl }}/img/logo.png">
                </a>
                <div class="searchbar">
                    <input type="text" placeholder="Søg ...">
                    <button>🔎</button>
                </div>
            </nav>
        </header>
        <div class="container">
            <div class="content">
                {{content}}
            </div>
        </div>
    </body>
</html>
