---
layout: default-no-container
bodyClass: glorified glorified-white
---
<div class="container align-center">
    <div class="content">
        <div class="cover">
            <picture>
                <source srcset="{{ site.baseurl }}/img/covers/{{ page.coverimage-mobile }}" media="(max-width: 600px)">
                <source srcset="{{ site.baseurl }}/img/covers/{{ page.coverimage }}" media="(min-width: 601px)">
                <img src="{{ site.baseurl }}/img/covers/{{ page.coverimage }}" alt="{{ page.name | remove: "&#173;" }}">
            </picture>
        </div>
        <div class="maerke-splash">
            <div class="maerke-splash__image">
                <img src="{{ site.baseurl }}/img/compressed/{{ page.image }}" alt='{{ page.name | remove: "&#173;" }} spejdermærke'>
            </div>
            <div class="maerke-splash__info">
                <h1>{{ page.name }}</h1>
                {% if page.age %}
                    <div class="maerke-splash__age">Egnet til {{ page.age }} år</div>
                {% else %}
                    <div class="maerke-splash__age">Egnet til alle aldre</div>
                {% endif %}
                <div class="maerke-splash__actions">
                    {% if page.price %}
                        <a href="#buy" class="maerke-splash__action maerke-splash__action--buy" data-action-buy>
                            {{ page.price }} kr.
                        </a>
                    {% endif %}
                    <a href="#badge-info" class="maerke-splash__action maerke-splash__action--read">
                        Læs om mærket
                    </a>
                </div>
                <div class="maerke-splash__tags">
                    {% for tag in page.tags %}
                        <a class="tag" href="{{ site.baseurl }}/?search=tag:{{ tag }}" data-tag-link>{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
            <script>
                (function() {
                    setTimeout(function() {
                        let header = document.querySelector("header");
                        header.classList.add("header--hide");
                        header.classList.remove("header--show");
                    }, 500);
                })();
            </script>
        </div>  
        <div class="main-maerke-content" id="badge-info">
            <div class="page-description-color">
                {{ page.description }}
                {{ page.content }}
                {% if page.soldout %}
                <p>
                    <div style="background: rgba(0,0,0,0.025); padding: 15px; font-size: 0.8em;">
                        <strong>Mærket er midlertidigt udsolgt.</strong>
                        Vi har bestilt flere hos leverandøren, og de er på vej.
                        Hvis du bestiller nu, kan der gå et par uger, før vi får sendt mærket.
                        Vi holder dig selvfølgelig opdateret pr. mail.
                    </div>
                </p>
                {% endif %}
                <div class="btn-container">
                    {% if page.infolink %}
                        <a target="noopener" href="{{ page.infolink }}" class="btn infolink">Læs mere</a>
                    {% endif %}
                    {% unless page.price %}
                        <a target="noopener" href="{{ page.buylink }}" class="btn buylink">Køb mærket her</a>
                    {% endunless %}
                </div>
                {% if page.price %}
                <div class="purchase-container" id="buy">
                    {% include orderForm.html %}
                </div>
                {% endif %}
            </div>
            </div>
        </div>
    </div>
</div>
