<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Du forlader nu Mærkelex</title>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css">
        <script>
            (function() {
                searchData = null;

                query = {};
                location.search
                    .slice(1)
                    .split("&")
                    .forEach(function(keyValue) {
                        var [ key, value ] = keyValue.split("=");
                        query[key] = value;
                    });

                if(!query.m) {
                    location.href = "/shop";
                    return;
                }

                onSearchData(function(searchData) {
                    var m = searchData.find(function(m) {
                        return m.url.indexOf(query.m) === 3;
                    });

                    if(!m) {
                        location.href = "/shop";
                        return;
                    }

                    if(m.price) {
                        location.href = m.url;
                        return;
                    }
                });
            })();

            function onSearchData(callback) {
                if(searchData) {
                    return callback(searchData);
                }
                setTimeout(function() { onSearchData(callback); }, 400);
            }

            (function getSearchData(retries) {
                if(!retries) {
                    retries = 3;
                }

                var req = new XMLHttpRequest();
                req.open("GET", "{{ site.baseurl }}/m.json");
                req.onreadystatechange = function() {
                    if(req.readyState != 4) {
                        return;
                    }
                    if(req.status > 499 && req.status < 600) {
                        console.warn("Server error happened while getting searchable data (status " + req.status + "): " + req.responseText);
                        if(retries > 0) {
                            console.warn("Retrying getting of search data in 500 ms ...");
                            return setTimeout(function() {
                                getSearchData(retries - 1);
                            }, 500);
                        }
                    }
                    if(req.status != 200) {
                        return console.error("Failed to get searchable data (status " + req.status + "): " + req.responseText);
                    }
                    var responseObj;
                    try {
                        responseObj = JSON.parse(req.responseText);
                    }
                    catch(e) {
                        return console.warn("Received unparseable data", req.responseText);
                    }
                    searchData = responseObj.m;
                };
                req.send();
            })();
        </script>
    </head>
    <body>
        <style>
            .leaving-container {
                width: 100vw;
                height: 100vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                border: 10px solid rgb(251, 171, 68);
                padding: 10px;
            }
            .leaving-container h1 {
                margin: 3rem 0;
            }
            .leaving-container .btn-container {
                margin: 3rem 0;
            }
        </style>
        <div class="leaving-container">
            <h1>Du forlader nu Mærkelex.</h1>

            <p>Du er på vej til en side på <span data-url>en ekstern side</span> styret af sælgeren af <span data-badge-name>mærket</span></p>

            <div class="btn-container">
                <a href="/" data-back-link class="btn infolink">Tilbage til Mærkelex</a>
                <a data-link class="btn buylink" href="#">Fortsæt (<span data-time-left>10 sekunder</span>)</a>
            </div>
        </div>

        <script>
            (function() {
                onSearchData(function(searchData) {
                    var m = searchData.find(function(m) {
                        return m.url.indexOf(query.m) === 3;
                    });

                    document.querySelector("[data-badge-name]").innerHTML = m.name;
                    var domain = m.{{ page.url_field }}.split("/")[2];
                    document.querySelector("[data-url]").innerText = domain;
                    document.querySelector("[data-link]").setAttribute("href", m.{{ page.url_field }});
                    document.querySelector("[data-back-link]").setAttribute("href", m.url);

                    var timeLeftElement = document.querySelector("[data-time-left]");
                    var secondsLeft = 10;
                    setInterval(function() {
                        timeLeftElement.innerText = secondsLeft + " sekunder";
                        if(secondsLeft > 0) {
                            secondsLeft--;
                            return;
                        }
                        location.href = m.buylink;
                    }, 999);
                });
            })();
        </script>
    </body>
</html>
