---
layout: default
---

<div class="page-image col">
  <img src="{{ site.baseurl }}/img/{{ page.image }}">
</div>
<div class="page-description col">
  <h1>{{ page.name }}</h1>
  <div class="tags">
      {% for tag in page.tags %}
          <a class="tag" href="{{ site.baseurl }}/?search=tag:{{ tag }}">{{ tag }}</a>
      {% endfor %}
  </div>
  <p>
      {{ page.description }}
  </p>
  <a target="_blank" href="{{ page.buylink }}" class="buylink">
    <button>Find mærket her</button>
  </a>
  <script>
    document.querySelector(".buylink").addEventListener("click", function(e) {
      ga("send", "event", "Badge", "buylink_click", "{{ page.url }}");
    });
  </script>
</div>
