---
title: Find inspiration i mærker
date: 2018-12-12
da_date: ?. ???? 2018
---
<p>
    Hvordan bruger man, som leder, mærker til at få inspiration?
    Hvordan finder man ud af, hvilke mærker, der passer til ens spejdere?
    Og hvordan får man egentlig købt mærkerne?
</p>
<p>
    Denne her blog post er rettet mod ledere, der godt kan lide ideen med mærker, men som måske ikke har prøvet at bruge dem i deres eget forløb, eller er lidt i tvivl om hvordan man angriber det med at købe mærker.
    Her er overskrifterne, vi dækker:
    <ul>
        <li><a href="#hvad-er-et-maerke">Hvad er et mærke og hvilke typer findes der?</a></li>
        <li><a href="#hvordan-bruger-man-maerker">Hvordan bruger man mærker i spejdersammenhæng?</a></li>
        <li><a href="#hvordan-finder-man-maerker">Hvordan finder man mærker or bliver inspireret?</a></li>
        <li><a href="#hvordan-koeber-man-maerker">Hvordan får man fingrene i et mærke, når man har besluttet sig for at bruge det?</a></li>
    </ul>
</p>
<h2 id="hvad-er-et-maerke">Hvad er et mærke og hvilke typer findes der?</h2>
<p>
    Et mærke er en måde at samle et koncept og en præmie i én ting.
    Der sættes regler og krav op, og hvis man lever op til disse regler og krav, får man lov til at sy mærket på sin uniform.
    Mærker bruges til at dele gode ideer på tværs af spejdergrupper, men også til at skabe fællesskab baseret på oplevelser.
</p>
<p>
    Der findes forskellige typer af mærker.
</p>
<p>
    Alle korpsene laver deres egne mærker. Men derudover er der også en masse spejdere, der frivilligt fremstiller og sælger mærker.
    Dem kalder vi her hos Mærkelex for <em>uofficielle</em> mærker.
</p>
<p>
    Turmærker eller oplevelsesmærker får man for at have deltaget i et arrangement.
    Det skaber fællesskab for deltagerne, at de senere kan mødes og se at de faktisk&mdash;måske for adskillige år siden&mdash;deltog i samme arrangement.
    For eksempel får man et mærke for at deltage på Spejdernes Lejr.
    Vi har ikke tur- og oplevelsesmærker i vores mærkeoversigt.
</p>
<p>
    Færdighedsmærker og duelighedstegn stiller krav til evner, og specificerer ofte en test, man skal klare, for at gøre sig fortjent til mærket.
    For eksempel er kniv-beviset fra de forskellige korps et færdighedsmærke, men der findes også uofficielle færdighedsmærker, som f.eks. <a href="/m/knotnut">Knotnut</a>.
</p>
{% include maerkeIncludeBody.html maerke="knotnut" %}
<p>
    Den sidste kategori er forløbsmærker, som man får for at have gennemført et forløb.
    I modsætning til færdighedsmærker er der altså ikke fokus på at kunne noget, men på at have klaret sig igennem noget.
    I Det Danske Spejderkorps findes f.eks. forløbet <a href="/m/dds-kammeratskab/">En god kammerat</a>, og der er mange uofficielle forløbsmærker, som f.eks. <a href="/m/spejd365/">Spejd365</a>.
</p>
{% include maerkeIncludeBody.html maerke="spejd365" %}
<h2 id="hvordan-bruger-man-maerker">Hvordan bruger man mærker i spejdersammenhæng?</h2>
<p>
    Der er forskellige slags mærker, der egner sig til forskellige ting.
</p>
<p>
    Hvis man tager et færdighedsmøde kan det ofte give mening at planlægge et par møder i træk, hvor man lærer spejderne nogle evner, og så på sidste møde lader dem klare en prøve, og så få mærket.
</p>
<p>
    Mange forløbsmærker egner sig bedre til ture.
    Og så er der nogle af dem, der kræver at man gør noget løbende, over et helt år.
</p>
<p>
    Det korte svar er: kig på mærkerne, og se hvordan du synes de kan passe ind.
</p>
<h2 id="hvordan-finder-man-maerker">Hvordan finder man mærker og bliver inspireret?</h2>
<p>
    Vi lavede Mærkelex netop for at gøre det nemmere at finde mærker og inspiration.
    Her er et par tips til, hvordan man nemt finder hvad man leder efter.
</p>
<p>
    Alle de orange kasser herunder kan trykkes på, så søger man med det samme.
    Man kan også kombinere alle søgetermerne ved at indsætte et mellemrum.
</p>
<p>
    Vi har inddelt alle mærkerne efter korps, så hvis du kun vil se mærker fra DDS, kan du søge på <a href="/?search=tag:DDS">"tag:DDS"</a>.
    Det samme gælder for <a href="/?search=tag:DGP">"tag:DGP"</a> og <a href="/?search=tag:KFUM">"tag:KFUM"</a>.
</p>
<p>
    Hvis du kun vil se mærker, som andre spejdere selv har lavet, altså uofficielle mærker, kan du søge på <a href="/?search=tag:uofficielt">"tag:uofficielt"</a>.
</p>
<p>
    Du har nok allerede opdaget at man kan søge i normal tekst, også. Her søger man kun i mærkets navn og tags, så det virker bedst, hvis du ved hvad du kigger efter.
</p>
<p>
    Hvis du ved hvilken alder, du leder efter mærker til, kan du også specificere det.
    For eksempel kan man søge på <a href="/?search=alder:13">”alder:13”</a> for at finde mærker, der passer til 13-årige.
    Du kan kun indtaste et enkelt tal, så hvis du har spejdere i alderen 12-16 er ”alder:13” nok et godt bud.
</p>
<p>
    Nu kan du vælge at læse mere om de mærker, der ser spændende ud.
</p>
<p>
    Hvis du vil følge med i hvornår der kommer nye mærker, kan du følge os <a href="https://www.facebook.com/maerkelex">på facebook</a>.
    Vi skriver hver gang vi opdager nye mærker, og lægger dem op på siden.
</p>
<h2 id="hvordan-koeber-man-maerker">Hvordan får man fingrene i et mærke, når man har besluttet sig for at bruge det?</h2>
<p>
    Vi har kun mærker på Mærkelex, som man stadig kan købe.
    Når du er gået ind på siden for et mærke, er der en knap, hvor der står "Køb mærket...".
</p>
<p>
    Hvis sælgeren har sin egen side, eller har lagt kontaktinformation op i en facebook-post, bliver den relevante side åbnet.
    Her kan du finde kontaktinformation, og skrive til sælgeren hvor mange mærker, du gerne vil have, og hvor de skal sendes til.
    Så hjælper sælgeren dig videre i processen.
</p>
<p>
    Der er også mærker, der bliver solgt direkte på Mærkelex (du kan se dem allesammen i vores <a href="/shop/">shop</a>).
    Hvis det er tilfældet, åbner købsformularen sig, når du trykker på knappen.
    Så er det bare at udfylde information, ligesom en hvilken som helst anden webshop, og så er dine mærker på vej.
</p>
<p>
    Vi håber, du har fundet noget brugbar information her i blog-posten, og at du nu føler dig klar til at lave forløb med mærker til dine spejdere.
<p>
    Spejderhilsen,<br>
    Niels og Anders fra Mærkelex
</p>
